//-----------------------------------
// TOP BAR
//-----------------------------------
.top-bar {
	background: @top_bar_bg_color;
	color:      @top_bar_text_color;
	position:   relative;
	z-index:    998;

	ul.top-bar-info {
		list-style:  none;
		padding:     0;
		margin:      0;
		font-size:   0;
		font-family: @primary_font;
		li {
			display:        inline-block;
			line-height:    42px;
			vertical-align: baseline;
			padding:        0;
			font-size:      12px;
			font-weight:    400;

			> a {
				vertical-align: baseline;
			}

			+ li {
				margin-left: 25px;
			}
		}
		i.fa {
			color:          @primary_color;
			font-size:      14px;
			padding-right:  10px;
			vertical-align: baseline;
		}
	}

	.sidebar {
		color: @top_bar_text_color;
		h4.widget-title {
			color: @top_bar_text_color;
		}
		#wp-calendar caption, #wp-calendar thead th {
			color: @top_bar_text_color;
		}

		.widget-social-profile {
			line-height: 40px;
			color:       @top_bar_text_color;
			li {
				a {
					&:hover {
						i {
							color: #333;
						}
					}
				}
			}
		}

		.widget_nav_menu > div > ul.menu {
			overflow: visible;
			border:   none;
			margin:   0;
			padding:  0;
			li {
				display:  inline-block;
				position: relative;
				&:before {
					display: none;
				}

				&:hover > ul {
					display: block;
				}
			}

			> li {
				line-height: 40px;
				padding:     0;
				margin:      0;
				+ li {
					margin-left: 20px;
				}
				ul {
					display:          none;
					border-top:       solid 1px lighten(@top_bar_bg_color, 8.1%);
					position:         absolute;
					z-index:          999;
					left:             0;
					top:              100%;
					background-color: @top_bar_bg_color;
					color:            @top_bar_text_color;
					text-align:       left;
					margin:           0;
					padding:          0 15px;
					min-width:        150px;

					li {
						display:     block;
						line-height: 26px;
					}
					li + li {
						border-top: solid 1px lighten(@top_bar_bg_color, 8.1%);
					}
					ul {
						left: 100%;
						top:  0;
					}
				}
			}

		}

		.widget_search {
			max-width: 240px;
			float:     right;
			form.search-form {
				margin: 0;
				input, button {
					height:      40px !important;
					border:      none;
					line-height: 40px !important;
					color:       @bold_color;
				}

				input {
					background-color: #dddddd;
					font-size:        12px;
					.placeholder-color(@bold_color);
					width:            240px;

				}
				button {
					width: 40px;
				}
			}
		}
	}

	.top-bar-left {
		text-align: left;
	}
	.top-bar-right {
		text-align: right;
		&.sidebar .widget_nav_menu > div > ul.menu ul ul {
			left:  auto;
			right: 100%;
		}
		&:after {
			display: block;
			content: '';
			clear:   both;
		}
	}
	.top-bar-center {
		text-align: center;
	}
}

//-----------------------------------
// TOP BAR RESPONSIVE
//-----------------------------------
@media screen and (max-width: 991px) {
	.top-bar {
		position:   relative;
		z-index:    998;
		background: @top_bar_bg_color;
		.top-bar-left, .top-bar-right {
			text-align: center;
		}

		.top-bar-right {
			.widget_search {
				float:        none;
				margin-right: auto;
				margin-left:  auto;
			}
		}
	}

	.top-bar-right.sidebar .widget_nav_menu > div > ul.menu ul ul {
		right: auto;
		left:  100%;
	}

	body.header-2 .top-bar,
	body.header-4 .top-bar {
		position: relative;
	}
}

@media screen and (max-width: 479px) {
	.top-bar ul.top-bar-info li {
		display:     block;
		margin-left: 0 !important;
	}
}

//-----------------------------------
// HEADER
//-----------------------------------
@media screen and (min-width: 992px) {
	.container.header-desktop-wrapper:before,
	.container.header-desktop-wrapper:after {
		display: none;
	}

	.x-nav-menu li > ul.x-sub-menu {
		border: 0;
		li {
			min-width: 253px;
		}
	}

	.x-nav-menu li > ul.x-sub-menu li:hover > a,
	.x-nav-menu li > ul.x-sub-menu li > a.active,
	.x-nav-menu li > ul.x-sub-menu li > a:focus {
		color: @menu_sub_text_hover_color;
	}


	.header-mobile-before,
	.header-mobile-wrapper,
	li.menu-fly-search {
		display: none !important;
	}

	header.main-header {
		background-color: @header_background_color;
		position:         relative;
		z-index:          997;
		&.container {
			padding: 0 22px;
		}
		.container {
			display:  table;
			position: relative;
		}

		.header-left {
			display:        table-cell;
			text-align:     left;
			vertical-align: middle;
		}
		.header-right {
			display:        table-cell;
			text-align:     right;
			vertical-align: middle;
		}
		.header-logo {
			> a > img {
				max-height:     @logo_max_height + @logo_padding * 2;
				padding-top:    @logo_padding;
				padding-bottom: @logo_padding;
				max-width:      none;
				.transition-all(all 0.3s);
			}
		}

		.header-customize {
			display:        inline-block;
			vertical-align: middle;
			margin-left:    30px;
			font-size:      0px;
			color:          @menu_text_color;

			//line-height:    @logo_max_height + @logo_padding * 2;
			.transition-all(all 0.3s);

			> div {
				margin: 0 0 0 4px !important;
			}
		}
		.header-customize-item {
			font-size: 14px;
		}
		.icon-search-menu, .get-a-quote-button {
			//overflow: hidden;
			//display: block;
			> i.fa {
				width:       31px;
				height:      31px;
				line-height: 31px;
				text-align:  center;
				background:  @primary_color;
				color:       #fff;
			}

			&:hover {

			}

		}
		.header-customize-item {
			display:        inline-block;
			vertical-align: middle;
		}

		.header-customize-item + .header-customize-item {
			//margin-left: 30px;
		}

		.menu-wrapper {
			font-family: @menu_font;

			// MAIN MENU
			.x-nav-menu {
				position:       static;
				display:        inline-block;
				vertical-align: middle;

				// Menu Text Color
				> li.x-menu-item > a {
					font-size:      17px;
					.transition-all(all 0.3s);
					letter-spacing: 0.01em;
					font-weight:    600;
					padding:        0;
					line-height:    @logo_max_height + @logo_padding * 2;
					color:          @menu_text_color;
					text-transform: capitalize;
					> span {
						color: @menu_text_color;
					}

					> b.x-caret {
						vertical-align: middle;
						&:before {
							color: @menu_text_color;
						}
					}
				}

				// Menu Text Hover And Current Text Color
				> li.current-menu-ancestor > a.x-menu-a-text,
				> li.current-menu-parent > a.x-menu-a-text,
				> li.current-menu-item > a.x-menu-a-text,
				> li.menu-current > a.x-menu-a-text {
					//margin-left: 5px;
					color: @menu_text_hover_color;
					> span {
						color:    @menu_text_hover_color;
						position: relative;
						&:before {
							content:    '';
							position:   absolute;
							left:       0;
							right:      0;
							top:        100%;
							border-top: solid 2px @menu_text_hover_color;
							margin-top: 10px;
						}
					}

					> b.x-caret:before {
						color: @menu_text_hover_color;
					}
				}

				> li:hover > a.x-menu-a-text {
					//margin-left: 5px;
					> span {
						&.x-menu-feature{
							position: absolute;
						}
						color:    @menu_text_hover_color;
						position: relative;
						&:before {
							content:    '';
							position:   absolute;
							left:       0;
							right:      0;
							top:        100%;
							border-top: solid 2px @menu_text_hover_color;
							margin-top: 10px;
						}
					}

					> b.x-caret:before {
						color: @menu_text_hover_color;
					}
				}

				// Sub menu current text color
				ul.x-sub-menu li.current-menu-ancestor > a.x-menu-a-text,
				ul.x-sub-menu li.current-menu-parent > a.x-menu-a-text,
				ul.x-sub-menu li.current-menu-item > a.x-menu-a-text,
				ul.x-sub-menu li.menu-current > a.x-menu-a-text {
					color: @menu_text_hover_color;
					> span {
						color: @menu_text_hover_color;
					}

					> b.x-caret:before {
						color: @menu_text_hover_color;
					}
				}

				// SUB MENU
				li > ul.x-sub-menu li > a {
					letter-spacing: 0.01em;
					font-weight:    500;
					font-size:      15px;
					padding:        14px 20px;
					border:         0;
					text-transform: none;
					&:hover {
						margin-left: 0;
						//padding-left: 20px;
					}

					> span {
						color: @menu_sub_text_color;
					}

					> b.x-caret:before {
						color: @menu_sub_text_color;
					}

				}

				// Sub menu hover color
				ul.x-sub-menu {
					background-color: @menu_sub_bg_color !important;
					border-bottom:    2px solid @primary_color;

				}

				li > ul.x-sub-menu li:hover > a {
					> span {
						color: @menu_sub_text_hover_color;
					}

					> b.x-caret:before {
						color: @menu_sub_text_hover_color;
					}
				}

				li.x-header-column > a.x-menu-a-text,
				li.x-header-column:hover > a.x-menu-a-text {
					color: @menu_text_color;
				}

				li > ul.x-sub-menu {
					font-family:      @menu_font;
					background-color: @menu_sub_bg_color;

					li a {
						.easing-animation();
					}
				}

				// Menu standard
				ul.x-sub-menu-standard {
					padding-bottom: 20px;

					li a b.x-caret {
						display: block;
						top:     50%;
						.transform(translateY(-50%));
					}
				}

				li > ul.x-sub-menu-standard > li {
					a.x-menu-a-text {
						padding-left:  15px;
						padding-right: 15px;
						.easing-animation();
						&:hover {
							background: @menu_sub_bg_hover_color;
						}
					}

				}

				// Menu multicolumn
				li > ul.x-sub-menu-multi-column > li {
					> a.x-menu-a-text {
						padding-left:  15px;
						padding-right: 15px;
						//&:hover {
						//	margin-left: 0;
						//}
					}
					+ li {
						> a.x-menu-a-text {
						}
					}
					a {
						&:hover {
							background: @menu_sub_bg_hover_color;
						}
					}
				}

				ul.x-sub-menu-multi-column {
					padding: 0;
					display: flex;
					> li {
						padding:      0 20px;
						margin:       20px 0;
						border-right: 1px solid rgba(255, 255, 255, 0.1);

						&:last-child {
							border-right: none;
						}
					}

					ul.x-sub-menu-standard {
						padding-bottom: 0;
					}

					b.x-caret {
						display: none !important;
					}
				}
				//
				ul.x-sub-menu-multi-column > li {
					> a.x-menu-a-text {
						font-weight:    400;
						font-family:    @menu_font;
						font-size:      15px;
						letter-spacing: 0.01em;
						position:       relative;
						display:        inline-block;
						padding:        8px 15px;
						&:before {
							content: '';
						}
						&:hover {
							color:            @menu_sub_text_hover_color;
							background-color: transparent;

						}
					}

					ul.x-sub-menu {
						border: none;
					}

					> ul.x-sub-menu-standard > li {
						padding-left:  0;
						padding-right: 0;
						> a.x-menu-a-text {

						}

					}
					&.x-tabs > a.x-menu-a-text {
						display: none;
					}
					&.x-tabs > ul.x-sub-menu-tab {
						background-color: #fff;

						> li.x-menu-active {
							background-color: #f5f5f5;
						}

						> li > a.x-menu-a-text {
							border-bottom: solid 1px #eee;
						}
					}
				}
			}
		}
	}

	.sticky-wrapper.is-sticky > header.main-header {
		.fixed();
	}

	//HEADER 1
	header.header-1 {
		.menu-wrapper {
			background-color: @menu_bg_color;
		}
	}

	//header 2
	header.header-2 {
		.sticky-wrapper.is-sticky {
			.header-menu {
				.fixed();
				text-align: left;
			}
		}

		.menu-wrapper {
			font-family: @menu_font;
			.x-nav-menu {
				> li.current-menu-ancestor > a.x-menu-a-text,
				> li.current-menu-parent > a.x-menu-a-text,
				> li.current-menu-item > a.x-menu-a-text,
				> li.menu-current > a.x-menu-a-text,
				> li > a.x-menu-a-text:hover,
				> li:hover > a {
					//margin-left: 5px;
					span {
						position: relative;
						&:before {
							content: "";
							display: none;
						}
					}

				}
			}
		}
	}

	.sticky-wrapper.is-sticky {
		header.header-2 {

		}
	}

	header.header-2 {
		.header-top {
			line-height:   @logo_max_height + @logo_padding * 2;
			border-bottom: 1px solid @header_border_color;
		}
		.header-customize {
			position:    absolute;
			right:       0;
			top:         -(round((@logo_max_height + @logo_padding * 2 + @header_2_main_menu_height) / 2));
			line-height: @header_2_main_menu_height;
			i.fa {

			}
		}
		.sticky-wrapper.is-sticky {
			.header-customize {
				top: 0;
			}
		}
		.header-menu {
			text-align: center;
			left:       0;
			right:      0;
			background: @menu_bg_color;
		}

		.get-a-quo te-button {
			background-color: transparent;
			padding:          0;
			> span {
				display: none;
			}
		}

		// Header 2 boxed
		&.header-boxed {
			padding: 0 !important;

			.header-2-menu-wrapper {
				background-clip: padding-box;
				&.header-sticky {
					max-width:    1200px;
					margin-left:  auto;
					margin-right: auto;

					.menu-wrapper {
						padding-left: 30px;

					}

					.container {
						padding: 0;
					}
				}
			}
		}

		//.icon-search-menu > i.fa,
		//.get-a-quote-button > i.fa,
		//.shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon > i.icon {
		//	padding:     0;
		//	width:       31px;
		//	height:      31px;
		//	line-height: 31px;
		//	text-align:  center;
		//	background:  @primary_color;
		//	color:       #fff;
		//}
		//.shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon > i.icon {
		//	background: @secondary_color;
		//}
		//.shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon > i.icon + span {
		//	margin-top: -25px;
		//	background: #fff;
		//	color:      #222;
		//}
		//.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper {
		//	//background-color: rgba(255, 255, 255, 0.96);
		//}
		//.header-customize-item + .header-customize-item {
		//	margin-left: 0;
		//}
	}

	//Header 3
	header.header-3 {
		.menu-wrapper {
			font-family: @menu_font;
			.x-nav-menu {
				> li.current-menu-ancestor > a.x-menu-a-text,
				> li.current-menu-parent > a.x-menu-a-text,
				> li.current-menu-item > a.x-menu-a-text,
				> li.menu-current > a.x-menu-a-text,
				> li > a.x-menu-a-text:hover,
				> li:hover > a {
					span {
						&.x-menu-feature{
							position: absolute;
						}
						position: relative;
						&:before {
							content: "";
							display: none;
						}
					}
				}
			}
		}

		//.menu-wrapper {
		//	.x-nav-menu {
		//		> li.x-menu-item > a {
		//			color: @menu_text_color;
		//		}
		//		> li.x-menu-item > a > b.x-caret:before {
		//			color: @menu_text_color;
		//		}
		//	}
		//}

		.header-desktop-wrapper {
			//padding-top:    30px;
			//padding-bottom: 30px;
		}
		.header-3-menu-wrapper {
			background-color: @menu_bg_color;
			left:             0;
			right:            0;
			//border-top:       1px solid @header_border_color;
		}

		.header-customize-item + .header-customize-item {
			//margin-left: 10px;
		}
		//.get-a-quote-button {
		//	line-height: 37px;
		//	height:      37px;
		//}
		.main-menu-custom-text {
			ul.header-custom-text {
				margin:      0;
				padding:     0;
				list-style:  none;
				font-family: @primary_font;
				li {
					.dib();
					vertical-align: middle;

					i {
						.dib();
						font-size:      25px;
						vertical-align: middle;
						color:          @primary_color;
						line-height:    50px;
						width:          auto;
						height:         auto;
						&:before {
							vertical-align: middle;
						}
					}
					p {
						.dib();
						text-align:     left;
						vertical-align: middle;
						margin:         0;
						font-size:      14px;
						padding-left:   15px;
						line-height:    1.5;
						font-weight:    500;
						color:          @text_color;
						span {
							display:   block;
							color:     @meta_text_color;
							font-size: 12px;
						}
					}
					+ li {
						margin-left: 53px;
					}
				}
			}
		}
		//		.shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon > i.icon,
		//		.icon-search-menu {
		//			width: 45px;
		//			height: 37px;
		//			line-height: 33px;
		//			border: solid 2px #222;
		//			color: #222;
		//			text-align: center;
		//			padding: 0;
		//		}
		//		.shopping-cart-wrapper .widget_shopping_cart_content .widget_shopping_cart_icon > i.icon + span {
		//			margin-top: -27px;
		//			right: -7px;
		//		}
		.header-customize {
			float:   right;
			display: block;

			> i.fa {
				font-size:      41px;
				vertical-align: middle;
				color:          @primary_color;
				margin-right:   5px;
			}

			> span {
				font-size:      34px;
				font-family:    @primary_font;
				font-weight:    bold;
				display:        inline-block;
				vertical-align: middle;
				color:          #fff;
				line-height:    1;
			}
		}

		// Header 3 boxed
		&.header-boxed {
			padding: 0 !important;

			.header-desktop-wrapper {
				padding: 0 30px;

				.header-left {
					.header-logo {
						> a > img {
							padding-top:    25px;
							padding-bottom: 25px;
						}
					}
				}
			}

			.header-3-menu-wrapper {
				padding-left: 30px;
				width:        100%;

				&.header-sticky {
					max-width:    1230px;
					margin-left:  auto;
					margin-right: auto;

					.container {
						padding: 0;
					}
				}
			}
		}
		//
		@media (min-width: 1230px) {
			&.header-boxed {
				width:        1230px;
				margin-left:  auto;
				margin-right: auto;
			}

		}
	}

	// Sticky
	//-----------------------------------
	/* @todo: sticky style */
	.sticky-wrapper.is-sticky > header.main-header {
		z-index: 997;
		left:    0;
		right:   0;
		border:  0;
	}

	.sticky-wrapper.is-sticky .header-3-menu-wrapper,
	.sticky-wrapper.is-sticky .header-2-menu-wrapper {
		.fixed();
		background-color: @header_sticky_bg !important;
		.menu-wrapper {
			background-color: @header_sticky_bg !important;
		}
	}

	.sticky-wrapper.is-sticky > header.main-header {
		background-color: @header_sticky_bg;
		.header-logo {
			> a > img {
				max-height:     66px;
				padding-top:    5px;
				padding-bottom: 5px;
				max-width:      none;
			}
		}
		.header-customize {
			line-height: 66px;
		}

		.x-nav-menu > li.x-menu-item > a {
			line-height: 66px;
		}

		//ul#main-menu li > ul.x-sub-menu {
		//	margin-top: 1px;
		//}

		&.header-3 {
			.menu-wrapper .x-nav-menu > li.x-menu-item > a {
				padding: 0 !important;
			}
			.icon-search-menu {
				line-height: 33px;
			}
		}
	}

	.sticky-wrapper.is-sticky > header.main-header.header-2 {
		background-color: @header_background_color;
		border-bottom:    none;
	}

	body.boxed .sticky-wrapper.is-sticky > header.main-header {
		max-width: 1200px;
		margin:    auto;
	}

	body.boxed .sticky-wrapper.is-sticky .header-3-menu-wrapper {
		margin:    auto;
		max-width: 1200px;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	header.header-1 {
		.header-customize-item + .header-customize-item,
		.header-customize,
		.x-nav-menu > li.x-menu-item + li {
			margin-left: 20px;
		}
		//border-bottom: 1px solid @header_border_color;
	}

}

//-----------------------------------
// SHOPPING CART
//-----------------------------------
.shopping-cart-wrapper {
	padding:        0;
	margin:         0;
	display:        inline-block;
	vertical-align: middle;
	text-align:     right;
	position:       relative;

	//disable shoping cart subtotal
	&.disable-cart-subtotal {
		.widget_shopping_cart_content {
			.show-cart-subtotal {
				p.cart-subtotal {
					display: none !important;
				}
				background-color: transparent !important;
				padding:          0 !important;
			}
		}
	}

	.widget_shopping_cart_content {
		display:    block;
		text-align: left;
		.widget_shopping_cart_icon_wrapper {
			&.show-cart-subtotal {
				p.cart-subtotal {
					display:       inline-block;
					margin-bottom: 0;
					font-weight:   500;
					font-size:     12px;
					color:         @menu_text_color;
				}

				background-color: rgba(255, 255, 255, 0.1);
				padding:          0 20px;
			}

			&.hide-cart-subtotal {

			}
		}

		.widget_shopping_cart_icon {
			position: relative;
			display:  inline-block;
		}
		.widget_shopping_cart_icon > i.icon {
			cursor:      pointer;
			text-align:  center;
			font-size:   17px;
			font-style:  normal;
			width:       31px;
			height:      31px;
			line-height: 31px;
			//vertical-align: middle;
			display:     block;
			color:       @menu_text_color;

			&:before {
				vertical-align: middle;
			}
		}
		.widget_shopping_cart_icon > i.icon + span {
			position:              absolute;
			width:                 17px;
			height:                17px;
			-webkit-border-radius: 100%;
			-moz-border-radius:    100%;
			border-radius:         100%;
			background:            @primary_color;
			font-family:           @secondary_font;
			font-weight:           normal;
			color:                 #fff;
			font-size:             10px;
			top:                   50%;
			margin-top:            -15px;
			right:                 0;
			text-align:            center;
			line-height:           17px;
			.transition();
		}

		// QUANTITY PRODUCT ANIMATION
		&:hover {
			.widget_shopping_cart_icon > i.icon + span {
				.transform(translateY(-5px));
				//width:                 30px;
				//height:                30px;
				//line-height: 30px;
				//font-size: 18px;

			}
		}

		.cart_list_wrapper {
			display:     none;
			position:    absolute;
			top:         100%;
			right:       0;
			left:        auto;
			z-index:     9998;
			min-width:   348px;
			background:  #111111;
			padding:     35px 0 20px 0;
			font-family: @primary_font;
			line-height: 2em;
			border-top:  2px solid @primary_color;

			.cart-total {
				padding:  0 20px 0 20px;
				position: relative;
				color:    #fff;

				p.no-product {
					text-align: center;
					margin-top: 20px;
				}
			}

			h4 {
				text-transform: uppercase;
				color:          #fff;
				padding:        0;
				margin:         0;
				font-size:      14px;
				word-spacing:   0.2em;
				font-family:    @primary_font;
				font-weight:    500;
				text-align:     center;
			}

			//li.empty {
			//	padding:    0;
			//	text-align: center;
			//
			//
			//	p {
			//		color:     #fff;
			//		padding:   0;
			//		margin:    0;
			//		font-size: 14px;
			//	}
			//	p.total {
			//		padding:       0;
			//		font-size:     13px;
			//		font-weight:   500;
			//		margin:        25px 0 0;
			//		border-top:    solid 1px #333;
			//		border-bottom: solid 1px #333;
			//		line-height:   43px;
			//		text-align:    right;
			//		a.button-empty {
			//			float: left;
			//		}
			//		strong {
			//			font-weight: 500;
			//		}
			//		span.amount {
			//			font-weight: 700;
			//			color:       @primary_color;
			//			margin-left: 0;
			//		}
			//	}
			//	p.buttons {
			//		text-align: center;
			//		margin:     0;
			//		padding:    25px 0 0;
			//		font-size:  0;
			//		.button {
			//			color:          #fff;
			//			background:     #222;
			//			border-radius:  0;
			//			line-height:    20px;
			//			padding:        10px 0;
			//			font-size:      13px;
			//			width:          48%;
			//			display:        inline-block;
			//			text-transform: uppercase;
			//			border:         1px solid transparent;
			//			font-weight:    500;
			//			+ .button {
			//				margin-left: 4%;
			//			}
			//			&.checkout {
			//				background-color: @primary_color;
			//				border-color:     @primary_color;
			//				&:hover {
			//					background: #fff;
			//					color:      #222;
			//				}
			//			}
			//			&:hover {
			//				background-color: @primary_color;
			//				border-color:     @primary_color;
			//			}
			//		}
			//	}
			//}
			li {
				padding:  15px 0;
				margin:   0;
				position: relative;

				+ li {
					border-top: solid 1px #333;
				}

				.cart-left {
					float:        left;
					overflow:     hidden;
					margin-right: 10px;
					border:       solid 1px #eee;
					background:   #fff;

					> a > img {
						height:  auto;
						width:   72px;
						margin:  0;
						display: block;
					}
				}

				.cart-right {
					overflow: hidden;

					> a {
						text-transform: uppercase;
						word-spacing:   0.2em;
						color:          #fff;
						font-size:      12px;
						font-weight:    700;
						display:        block;
						padding-right:  15px;
						margin-bottom:  6px;

						&:hover {
							color: @primary_color;
						}
					}
					> span.quantity {
						font-size:   12px;
						font-weight: 700;
						display:     block;
						text-align:  left;
						color:       @primary_color;
					}

					> span.quantity .amount {
						float: left;
					}
					> a.mini-cart-remove {
						position:      absolute;
						right:         0;
						top:           30px;
						padding-right: 0;
						color:         #bbb;
						i {
							font-size: 16px;

						}
						&:hover {
							color: @primary_color;
						}
					}
				}
				&:after {
					content: "";
					display: block;
					clear:   both;
				}
			}
			p.total {
				padding:       0;
				font-size:     13px;
				font-weight:   500;
				margin:        20px 0 0 0;
				border-top:    solid 1px #333;
				border-bottom: solid 1px #333;
				line-height:   43px;
				text-align:    right;
				a.button-empty {
					float: left;
					i {
						padding-right: 5px;
					}
				}
				strong {
					font-weight: 500;
				}
				> span.amount {
					font-weight: 700;
					color:       @primary_color;
					margin-left: 0;
				}
			}
			p.buttons {
				text-align: center;
				margin:     0;
				padding:    35px 0 15px 0;
				font-size:  0;
				.button {
					color:          #fff;
					background:     @secondary_color;
					border-radius:  0;
					line-height:    20px;
					padding:        5px 0;
					font-size:      12px;
					width:          48%;
					display:        inline-block;
					text-transform: uppercase;
					border:         1px solid transparent;
					font-weight:    500;
					&:hover {
						background-color: @primary_color;
						border-color:     @primary_color;
					}

					> i.fa {
						margin-right: 5px;
					}
					&.checkout {
						background-color: @primary_color;
						border-color:     @primary_color;
						&:hover {
							background: #fff;
							color:      @secondary_color;
							border:     1px solid @primary_color;
						}
						&:after {
							content: '';
						}
					}
					&:after {
						content: '';
					}
				}
				.button + .button {
					margin-left: 4%;
				}
			}

			dl {
				border:  none;
				margin:  0;
				padding: 0;
				dt {
					float:       left;
					margin:      0 10px 0 0;
					padding:     0;
					line-height: 25px;
					clear:       none;
					font-size:   11px;
					font-weight: 400;
				}
				dd {
					padding:     0;
					line-height: 25px;
					display:     block;
					float:       none;
					margin:      0;
					font-size:   11px;
				}
				p {
					margin:  0;
					padding: 0;
				}
			}
		}
		ul.cart_list, ul.product_list_widget {
			position:   relative;
			margin:     0;
			list-style: none;
			padding:    0 20px;

			li:first-child {
				padding-top: 0;
			}
		}

		&:hover .cart_list_wrapper {
			display: block;
		}
	}

}

body.header-overlay {
	.sticky-wrapper {
		height: auto !important;
	}
	//position: absolute;
	left:  0;
	right: 0;
	//height: auto!important;
	header.main-header {
		position:         absolute;
		background-color: @header_background_color;
		left:             0;
		right:            0;
		//border-bottom: solid 1px lighten(@header_background_color,20%);
	}
	//&.is-sticky {
	//	height: @main_menu_height !important;
	//}
}

header.main-header {
	margin-top: @header_margin_top;
}

.sticky-wrapper {
	&.is-sticky {
		header.main-header {
			margin-top: 0;
		}
	}
}

header.header-1 {
	.menu-wrapper {
		.x-nav-menu > li.x-menu-item > a {
			line-height: @header_1_main_menu_height;
		}
	}

	.header-customize {
		line-height: @header_1_main_menu_height;
	}
}

header.header-2 {
	.menu-wrapper {
		.x-nav-menu > li.x-menu-item > a {
			line-height: @header_2_main_menu_height;
		}
	}

	.header-customize {
		line-height: @header_2_main_menu_height;
	}
}

header.header-3 {
	.menu-wrapper {
		.x-nav-menu > li.x-menu-item > a {
			line-height: @header_3_main_menu_height;
		}
	}
	.header-customize {
		line-height: @header_3_main_menu_height;
	}
}
