body {
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height:    auto;
}

a,
a:focus,
a:hover {
	outline:         none;
	text-decoration: none;
}

body {
	line-height:            2;
	color:                  @text_color;
	-webkit-font-smoothing: antialiased; //this is very important to make font weight on mac good
}

h1, h2, h3, h4, h5, h6 {
	line-height:   1.2;
	margin-top:    0;
	margin-bottom: 20px;
	font-weight:   600;
	color:         @heading_color;
	font-family:   @primary_font;
}

.container .container,
.has-sidebar .site-content-page-inner .container,
.has-sidebar .site-content-archive-inner .container {
	width:   100%;
	padding: 0;
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/*body.boxed {
  background-image: url('assets/images/theme-options/pattern-1.png');
  background-repeat: repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
}*/

.boxed #wrapper {
	max-width: 1200px;
	margin:    auto;
}

div, iframe, img {
	margin:  0;
	padding: 0;
}

i, cite, em, var, address, dfn {
	font-style: normal;
}

p {
	font-weight:   400;
	margin:        0;
	padding:       0;
	margin-bottom: 20px;
	line-height:   2.2;
}

::selection {
	background: @primary_color;
	color:      #ffffff;
}

a, a:hover, a.active {
	color:           inherit;
	text-decoration: none;
	outline:         none;
}

a:hover, a.active {
	color: @primary_color;
}

input, textarea, button, select {
	outline: none;
}

// FIXED CLASS
.fixed {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility:    visible;
	-ms-backface-visibility:     visible;
	backface-visibility:         visible;
	-webkit-transform:           translate3d(0, 0, 0);
	transform:                   translate3d(0, 0, 0);
}

/*-------------------------------------
PAGE TITLE
---------------------------------------*/
.page-title-wrap {
	height:           420px;
	text-align:       center;
	width:            100%;
	position:         relative;
	color:            @page_title_text_color;
	margin-bottom:    70px;
	background-color: @page_title_bg_color;
}

.page-title-wrap .container {
	height: 100%;
}

.page-title-wrap .block-center {
	text-align: center;
}

.page-title-inner {
	vertical-align: middle;
	position:       relative;
	z-index:        1;
}

.page-title-inner h1 {
	font-size:      50px;
	text-align:     center;
	margin-bottom:  0;
	font-weight:    500;
	text-transform: uppercase;
	color:          inherit;
	font-family:    @secondary_font;
	padding-top:    10px;
	padding-bottom: 15px;
}

.page-title-inner p {
	text-align:    center;
	font-size:     20px;
	font-family:   @primary_font;
	font-style:    italic;
	color:         inherit;
	margin-bottom: 20px;
}

.page-title-wrap-bg {
	background-repeat:   no-repeat;
	background-position: center;
	background-size:     cover;
}

.page-title-overlay {
	content:          "";
	width:            100%;
	height:           100%;
	left:             0;
	top:              0;
	position:         absolute;
	background-color: @page_title_overlay_color;
	opacity:          @page_title_overlay_opacity;
}

.page-title-no-margin-bottom {
	margin-bottom: 0 !important;
}

/*-------------------------------------
BREADCRUMB
---------------------------------------*/
ul.breadcrumbs {
	clear:           both;
	margin:          0;
	list-style-type: none;
	text-align:      left;
	bottom:          0;
	line-height:     25px;
	background:      rgba(0, 0, 0, .7);
	padding:         10px 25px;
	&.breadcrumbs-right {
		position: absolute;
		right:    0;
	}
	&.breadcrumbs-left {
		position: absolute;
		left:     0;
	}

	&.breadcrumbs-center {
		padding: 5px 20px;
		display: inline-block;
	}
}

ul.breadcrumbs {
	letter-spacing: -4px;
}

ul.breadcrumbs li {
	.dib;
	font-size:      12px;
	letter-spacing: 1px;
}

ul.breadcrumbs li.first {
	font-family:  @primary_font;
	font-weight:  500;
	font-style:   normal;
	margin-right: 5px;
}

ul.breadcrumbs li.home {
	font-weight: lighter;
	&:before {
		content: '';
		display: none;
	}
}

ul.breadcrumbs li a {
	font-weight: lighter;
	color:       @page_title_text_color;
	font-family: @primary_font;

	&:hover {
		color: @primary_color;
	}
}

ul.breadcrumbs li a.home {
	font-family: @primary_font;
	font-weight: lighter;
}

ul.breadcrumbs li + li:before {
	display:                 inline-block;
	font:                    normal normal normal 14px/1 FontAwesome;
	text-rendering:          auto;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding:                 0 8px;
	content:                 "\f105";
	font-size:               12px;
	color:                   @primary_color;
}

ul.breadcrumbs li span {
	color:       @page_title_text_color;
	font-family: @primary_font;
	font-weight: 500;
}

@media screen and (max-width: 767px) {
	ul.breadcrumbs {
		margin:  0;
		padding: 10px 15px;
	}

	.page-title-inner h1 {
		font-size: 30px;
	}

	.page-title-inner p {
		font-size:   18px;
		line-height: 1.5;
	}

	.wpb_single_image {
		text-align: center !important;
	}
}

@media (max-width: @screen-xs) {
	ul.breadcrumbs {
		margin:  0;
		padding: 10px 15px;
	}

	.page-title-inner h1 {
		font-size: 20px;
	}

	.page-title-inner p {
		font-size:   14px;
		line-height: 1.5;
	}

	//ul.breadcrumbs li.first {
	//	display: none;
	//}
	//
	//ul.breadcrumbs li.home {
	//	&:before {
	//		display: none;
	//	}
	//}

}

/*-------------------------------------
INPUT
---------------------------------------*/
input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
textarea {
	padding:            0 20px;
	color:              @text_color;
	height:             40px;
	line-height:        40px;
	background-color:   #ffffff;
	border:             1px solid @border_color;
	-webkit-transition: all 0.2s;
	-moz-transition:    all 0.2s;
	-ms-transition:     all 0.2s;
	-o-transition:      all 0.2s;
	transition:         all 0.2s;
	&:focus {
		border-color: @primary_color;
	}
	/*::-webkit-input-placeholder {
		text-transform: uppercase;
	}

	:-moz-placeholder {
		// Firefox 18-
		text-transform: uppercase;
	}

	::-moz-placeholder {
		//  Firefox 19+
		text-transform: uppercase;
	}

	:-ms-input-placeholder {
		text-transform: uppercase;
	}*/
}

textarea {
	height:      auto;
	padding-top: 15px;
}

select {
	max-width:        100%;
	border:           1px solid @border_color;
	background-color: #fff;
	padding:          0 20px;
	font-size:        14px;
	color:            #bababa;
	height:           40px;
	line-height:      1;
	/*-webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  background-image: url("assets/images/arrow_down.png");
	  background-repeat: no-repeat;
	  background-position: 98%;
	  background-position: calc(~"100% - 10px");*/
}

// BLOCK CENTER
.block-center:before {
	content:        "";
	height:         100%;
	vertical-align: middle;
	display:        inline-block;
}

.block-center {
	height:     100%;
	width:      100%;
	text-align: center;
}

.block-center-inner {
	display:        inline-block;
	margin:         0 auto;
	text-align:     center;
	vertical-align: middle;
	max-width:      95%;
}

.block-center-inner > * {
	margin: auto;
}

//*-------------------------*/
/* MODAL SEARCH
/*-------------------------*/
#hemelios-modal-search {
	z-index: 999999;
	&.modal.in .modal-backdrop.in {
		opacity:    0.95;
		height:     100%;
		position:   fixed;
		background: #000;
		.fixed();
	}

	&.modal.in .hemelios-modal-dialog {
		.transform(translate(0, 0));
	}
	.hemelios-modal-dialog {
		.transform(translate(0, -50%));
		.transition-all(all 0.3s ease-in-out);
		height: auto;
	}
	.hemelios-dismiss-modal {
		position:  absolute;
		right:     15px;
		top:       15px;
		font-size: 16px;
		color:     #fff;
		z-index:   1040;
		cursor:    pointer;
	}
	.hemelios-dismiss-modal:hover {
		color: @primary_color;
	}
	.hemelios-modal-search {
		padding: 80px 30px 60px;
	}
	.hemelios-modal-search .hemelios-search-wrapper {
		position:         relative;
		width:            100%;
		font-size:        24px;
		color:            #fff;
		background-color: transparent;
		border-bottom:    1px solid rgba(255, 255, 255, 0.7);
		max-width:        1140px;
		display:          block;
		margin-right:     auto;
		margin-left:      auto;
	}
	.hemelios-modal-search .hemelios-search-wrapper:before, .hemelios-modal-search .hemelios-search-wrapper:after {
		content: " ";
		display: table;
	}
	.hemelios-modal-search .hemelios-search-wrapper:after {
		clear: both;
	}
	.hemelios-modal-search input[type="search"] {
		border:           none;
		outline:          none;
		display:          block;
		float:            left;
		width:            100%;
		padding-right:    60px;
		padding-left:     20px;
		background-color: transparent;
		font-size:        22px;
		color:            #fff;
	}
	.hemelios-modal-search button {
		position:         absolute;
		display:          block;
		color:            #000;
		bottom:           10px;
		right:            0;
		line-height:      30px;
		border:           none;
		outline:          none;
		font-size:        30px;
		background-color: transparent;
	}

	.ajax-search-result {
		margin:     auto;
		max-width:  1140px;
		background: rgba(22, 22, 22, 0.4);
		max-height: 356px;
		overflow-y: auto;
		position:   relative;
	}
	.ajax-search-result > ul {
		list-style: none;
		padding:    15px;
		position:   relative;
	}
	.ajax-search-result li {
		padding:   5px 5px;
		color:     #fff;
		font-size: 16px;
	}
	.ajax-search-result li.search-view-more {
		font-size:  14px;
		font-style: italic;
	}
	.ajax-search-result li span {
		display:      inline-block;
		padding-left: 15px;
		color:        #777;
		font-style:   italic;
	}
	.ajax-search-result li.selected a,
	.ajax-search-result li a:hover {
		color: @primary_color;
	}
	i.ajax-search-icon {
		color: #fff;
	}
	i.ajax-search-icon.icon-search:before {
		font-family: 'FontAwesome';
		content:     '\f002';
		display:     inline-block;
		font-style:  normal;
		font-size:   22px;
	}
}

#search_popup_wrapper,
#login_popup_wrapper{
	.dialog-inner {
		h2 {
			&:after {
				margin-right: auto;
				margin-left:  auto;
			}
		}
		.search-popup-inner {
			margin: 1em 0;

			> input[type='text'] {
				width:            90%;
				margin-bottom:    20px;
				line-height:      50px;
				height:           50px;
				border:           1px solid #dddddd;
				background-color: #eeeeee;

				&:focus {
					border-color: @primary_color;
				}
			}

			> input[type='submit'] {
				line-height:      40px;
				height:           40px;
				width:            120px;
				color:            @primary_color;
				background-color: transparent;
				text-transform:   uppercase;
				border:           1px solid @primary_color;
				font-weight:      500;

				.easing-animation();

				&:hover {
					color:            #ffffff;
					background-color: @primary_color;
				}
			}
		}
	}

}

.error404 {
	section.page-title-wrap {
		margin-bottom: 0;
	}
	.page-title-inner {
		font-size: 32px;
	}
	.top-bar {
		display: none;
	}
}

body.error404 {
	.page-title-wrap {
		margin-bottom: 65px;
	}

}

.page404 {
	background-position: top center;
	display:             table;
	width:               100%;
	background-repeat:   no-repeat;
	background-size:     100%;
	.logo,
	.copyright {
		text-align: center;
	}
	.logo {
		position:    absolute;
		padding-top: 40px;
		width:       100%;
	}
	.copyright {
		width:          100%;
		bottom:         40px;
		left:           0;
		right:          0;
		position:       absolute;
		text-transform: uppercase;
		color:          #000;
	}
	.title {
		font-size:      32px;
		color:          #222222;
		text-transform: uppercase;
		line-height:    1;
		display:        block;
		letter-spacing: 6px;
		&.not-found {
			padding-top: 12px;
		}
	}
	.content-404 {
		text-align:     center;
		display:        table-cell;
		vertical-align: middle;
		* {
			position: relative;
		}
	}
	h2 {
		text-align:    center;
		font-size:     80px;
		font-weight:   400;
		color:         @text_color;
		line-height:   1;
		margin-bottom: 0;
		font-family:   @secondary_font;
		margin-top:    21px;
	}
	.description {
		text-align:  center;
		padding-top: 15px;
		display:     inline-block;
		font-family: @primary_font;
		font-size:   24px;
		color:       @text_color;
	}
	.button {
		padding: 32px 0 71px;
	}

}

.gotop {
	position:          fixed;
	.fixed;
	bottom:            10px;
	right:             10px;
	width:             44px;
	height:            44px;
	line-height:       44px;
	text-align:        center;
	z-index:           2;
	-webkit-transform: translateX(100px);
	-moz-transform:    translateX(100px);
	-ms-transform:     translateX(100px);
	-o-transform:      translateX(100px);
	transform:         translateX(100px);
	.transition();
	border:            2px solid #1e1e1e;
	color:             #1e1e1e;
	background-color:  #f5f5f5;
	i {
		font-size: 22px;
	}
	&:hover {
		text-decoration: none;
		color:           #1e1e1e;
	}
}

.gotop.in {
	-webkit-transform: translateX(0px);
	-moz-transform:    translateX(0px);
	-ms-transform:     translateX(0px);
	-o-transform:      translateX(0px);
	transform:         translateX(0px);

}

// PS SCROLL BAR
//----------------------------------------
.ps-container > .ps-scrollbar-y-rail, .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
	width: 5px;
}

#wrapper-content {
	background-color: #fff;
	z-index:          1;
	position:         relative;
}

#wrapper-content > main[role='main'] {
	overflow: hidden;
}

#site-loading {
	height:     100%;
	width:      100%;
	position:   fixed;
	z-index:    1001;
	margin-top: 0;
	top:        0;
}

.site-loading-center {
	width:    100%;
	height:   100%;
	position: relative;
}

.wpb_map_wraper iframe {
	display:        block;
	//.filter-brightness-dark;
	pointer-events: none;
}

.wpb_gmaps_widget .wpb_wrapper {
	padding: 0;
}

/*----------------------------------
Custom Revolution slider
-----------------------------------*/
.tparrows.preview1 {
	width: 34px;
}

.tparrows.preview1:after {
	width:       34px;
	font-size:   26px;
	font-family: "fontawesome";
	background:  rgba(0, 0, 0, 0.4);
}

.tp-leftarrow.preview1:after {
	content: "\f104";
}

.tp-rightarrow.preview1:after {
	content: "\f105";
}

.tparrows.preview1:hover .tp-arr-iwrapper {
	opacity: 0;
}

.tparrows.preview1:hover:after {
	color: #fff;
	.rgba-bg-color(@primary_color, 1);
}

// Toggle Icon
//--------------------------------------
.toggle-icon-wrapper {
	cursor:         pointer;
	display:        inline-block;
	vertical-align: middle;

	&:before {
		content:        "";
		display:        inline-block;
		height:         100%;
		vertical-align: middle;
	}

	.toggle-icon {
		display:        inline-block;
		height:         30px;
		position:       relative;
		vertical-align: middle;
		width:          30px;
		> span {
			background: none repeat scroll 0 0 #000;
			bottom:     0;
			display:    block;
			height:     2px;
			left:       0;
			margin:     auto;
			position:   absolute;
			right:      0;
			top:        0;
			.transition-all(all 0.3s);
			width:      80%;
		}

		&:after,
		&:before {
			background: none repeat scroll 0 0 #000;
			content:    "";
			height:     2px;
			left:       0;
			margin:     auto;
			position:   absolute;
			right:      0;
			.transition-all(all 0.3s);
			width:      80%;
		}
		&:before {
			top:                      20%;
			-webkit-transform-origin: top left;
			-moz-transform-origin:    top left;
			-ms-transform-origin:     top left;
			-o-transform-origin:      top left;
			transform-origin:         top left;
		}
		&:after {
			bottom:                   20%;
			-webkit-transform-origin: bottom left;
			-moz-transform-origin:    bottom left;
			-ms-transform-origin:     bottom left;
			-o-transform-origin:      bottom left;
			transform-origin:         bottom left;
		}
	}
	+ span {
		vertical-align: middle;
		text-transform: uppercase;
	}

	&.in {
		.toggle-icon {
			span {
				background: transparent;
			}
			&:before {
				-webkit-transform: rotate(45deg);
				-moz-transform:    rotate(45deg);
				-ms-transform:     rotate(45deg);
				-o-transform:      rotate(45deg);
				transform:         rotate(45deg);
			}
			&:after {
				-webkit-transform: rotate(-45deg);
				-moz-transform:    rotate(-45deg);
				-ms-transform:     rotate(-45deg);
				-o-transform:      rotate(-45deg);
				transform:         rotate(-45deg);
			}
		}
	}
}

/*-------------------------
Loading
---------------------------*/
.loading-wrapper {
	position:   fixed;
	display:    block;
	top:        0;
	left:       0;
	bottom:     0;
	right:      0;
	background: rgba(0, 0, 0, 0.5);
	z-index:    99999;
	.fixed;
}

@-moz-keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner-double-section-far {
	display:           block;
	width:             50px;
	height:            50px;
	border-radius:     50%;
	border:            3.125px solid #aaa;
	-webkit-animation: spinner 1.2s linear infinite;
	-moz-animation:    spinner 1.2s linear infinite;
	-ms-animation:     spinner 1.2s linear infinite;
	-o-animation:      spinner 1.2s linear infinite;
	animation:         spinner 1.2s linear infinite;
	position:          absolute;
	margin:            auto;
	top:               0;
	left:              0;
	right:             0;
	bottom:            0;
}

.spinner-double-section-far:before,
.spinner-double-section-far:after {
	content:          '';
	position:         absolute;
	top:              -3.125px;
	left:             -3.125px;
	display:          block;
	width:            50px;
	height:           50px;
	border-radius:    50%;
	border:           3.125px solid transparent;
	border-top-color: @primary_color;
}

.spinner-double-section-far:after {
	border-top-color:    transparent;
	border-bottom-color: @primary_color;
}

.spinner-double-section-far:before,
.spinner-double-section-far:after {
	top:    -9.375px;
	left:   -9.375px;
	width:  62.5px;
	height: 62.5px;
}

.modal {
	z-index: 99999;
}

.modal-content {
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}

.modal-backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.in {
	opacity: 1;
}

.popup-close {
	position:    absolute;
	top:         10px;
	right:       10px;
	color:       #FFFFFF;
	font-size:   24px;
	display:     block;
	line-height: 1;
}

#popup-product-quick-view-wrapper .popup-close {
	background-color:   @primary_color;
	width:              30px;
	height:             30px;
	font-size:          18px;
	text-align:         center;
	line-height:        30px;
	cursor:             pointer;
	z-index:            1;
	top:                0;
	right:              0;
	-webkit-transition: all 0.2s linear;
	-moz-transition:    all 0.2s linear;
	-ms-transition:     all 0.2s linear;
	-o-transition:      all 0.2s linear;
	transition:         all 0.2s linear;
	&:hover {
		color:            #fff;
		background-color: @secondary_color;
	}
}

@media only screen and (max-width: 768px) {
	.page404 {
		div.search {
			.widget_search {
				width: 50%;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.page404 {
		background-size: cover;
		display:         block;
		width:           100%;
		.logo {
			position:       relative;
			padding-top:    40px;
			padding-bottom: 40px;
		}
		.copyright {
			position: relative;
			padding:  30px 15px;
		}

		.content-404 {
			text-align:     center;
			display:        table;
			vertical-align: middle;
			padding-bottom: 30px;
		}
		.description {
			width: 90%;
		}
		div.social-share {
			margin-top: 30px;
		}
		div.search {
			margin-top: 35px;
			.widget_search {
				width:   70%;
				display: inline-block;
			}
		}
	}

	.social-share-wrap {
		&:after {
			clear:   both;
			content: '';
			display: block;
		}
	}
}

.mail-chimp-wrapper {
	.mail-chimp-button {
		position: relative;

		> input {
			line-height: 42px;
			height:      42px;
		}

		button {
			position:         absolute;
			right:            5px;
			top:              0;
			border:           none;
			background-color: transparent;
			line-height:      1;
			bottom:           0;
			color:            @primary_color;
		}
	}

}

// BODY OVERLAY
//-----------------------------------
.main-menu-overlay {
	opacity:                     0;
	position:                    fixed;
	top:                         0;
	left:                        0;
	width:                       100%;
	height:                      100%;
	background-color:            rgba(0, 0, 0, .6);
	z-index:                     -1;
	pointer-events:              none;
	overflow:                    hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transition:          opacity .3s ease;
	-o-transition:               opacity .3s ease;
	transition:                  opacity .3s ease;
}

body.menu-mobile-in .main-menu-overlay {
	opacity:        1;
	z-index:        298;
	pointer-events: auto;
	cursor:         url(assets/images/close.png) 15 15, default;
}

// Contact Form
input {
	.easing-animation();
}

.os-contact-form {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea {
		width:       100%;
		border:      1px solid #DDDDDD;
		color:       #888;
		background:  #f9f9f9;
		font-weight: 300;

		&:focus, &:active {
			border-color: @primary_color;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"] {
		height:         auto;
		line-height:    initial;
		padding-top:    14px;
		padding-bottom: 14px;
	}
	.wpcf7-form-control-wrap {
		margin-bottom: 35px;
		display:       block;
	}
	span.wpcf7-not-valid-tip {
		font-size: 12px;
		color:     @primary_color;
	}
}

div.wpcf7 img.ajax-loader {
	display: block;
	width:   16px;
	margin:  auto;
}

/*custom slider*/
span.hemelios-slider-border-bottom:after {
	content:          "";
	display:          block;
	height:           5px;
	width:            60px;
	background-color: #fdb52b;
	margin:           auto;
	margin-top:       20px;
}

.rgba-bg-color ( @color,  @x:0.6) {
	background-color: rgba(red(@color), green(@color), blue(@color), @x);
}

.os-title {
	font-size:      14px;
	font-family:    @primary_font;
	text-transform: uppercase;
	color:          @text_color;
	margin-bottom:  30px;
	font-weight:    500;
	&:after {
		display:    block;
		height:     2px;
		content:    '';
		width:      40px;
		background: @primary_color;
		margin-top: 12px;
	}
	&.title-larger {
		font-size: 20px;
	}
	&.no-border {
		margin-bottom: 25px;
		&:after {
			display: none;
		}
	}
}

.secondary-font {
	font-family: @secondary_font;
}

@media screen and (max-width: 991px) {
	.os-title {
		margin-top: 25px;
	}

	.responsive-margin-30 {
		margin-bottom: 30px !important;
	}

	body.error404.header-overlay header.main-header.header-mobile-1 {
		background: #111;
	}

	body.error404.header-overlay header.main-header.header-mobile-2 {
		background: #fff;
	}

	body.error404.header-overlay header.main-header.header-mobile-3 {
		background: #111;
	}
}

/*----------------
* PRETTY PHOTO
-----------------*/

//.pp_pic_holder {
//	position: relative;
//
//	.pp_top, .pp_bottom {
//		display: none;
//	}
//
//	.pp_content_container {
//		.pp_left {
//			background-color: transparent;
//
//			.pp_right {
//				background-color: transparent;
//
//				.pp_content {
//					background-color: transparent;
//
//					.pp_hoverContainer {
//						display: none !important;
//						a {
//							display: none !important;
//						}
//					}
//
//					.pp_gallery {
//						margin-right: 7px;
//						margin-top:   60px !important;
//						display:      block !important;
//						> a {
//							text-indent: 0;
//							background:  none !important;
//							//margin: 0 20px 0 0;
//							width:       auto;
//							height:      auto;
//							color:       #ffffff;
//							font-size:   0;
//							margin-top:  0 !important;
//						}
//
//						a.pp_arrow_previous {
//							margin-right: 10px;
//							&:before {
//								font-family: 'fontawesome';
//								content:     "\f053";
//								font-size:   14px;
//								line-height: 35px;
//								//display: block;
//							}
//						}
//
//						a.pp_arrow_next {
//							margin-left: 10px;
//							&:before {
//								font-family: 'fontawesome';
//								content:     "\f054";
//								font-size:   14px;
//								line-height: 35px;
//								//display: block;
//							}
//
//						}
//
//						ul {
//							list-style: none;
//
//							li {
//								float:        left;
//								margin-right: 5px;
//								margin-left:  5px;
//							}
//						}
//					}
//
//					.pp_expand {
//						display: none !important;
//					}
//
//					.pp_details {
//						position: static;
//						a.pp_close {
//							position:       absolute;
//							top:            -30px;
//							right:          -100px;
//							background:     none;
//							text-indent:    0;
//							width:          auto;
//							height:         auto;
//							text-transform: uppercase;
//							color:          #ffffff;
//							font-size:      13px;
//							font-weight:    500;
//							display:        block;
//							&:after {
//								content:     '\f00d';
//								font-family: 'fontawesome';
//								font-size:   18px;
//								margin-left: 15px;
//
//							}
//
//							&:hover {
//								color: @primary_color;
//							}
//						}
//
//						.pp_nav {
//							position: absolute;
//							left:     50%;
//							.transform(translateX(-50%));
//							margin:   0;
//							color:    #ffffff;
//
//							a {
//								text-indent:  0;
//								background:   none;
//								margin-top:   0;
//								margin-right: 20px;
//								width:        auto;
//								height:       auto;
//								font-size:    0;
//
//								&:focus, &:visited {
//									color: #ffffff;
//								}
//							}
//
//							p.currentTextHolder {
//								margin:       0;
//								margin-right: 20px;
//								font-size:    20px;
//							}
//
//							a.pp_play {
//								&:before {
//									font-family: 'fontawesome';
//									content:     "\f04b";
//									font-size:   20px;
//
//								}
//							}
//
//							a.pp_pause {
//								&:before {
//									font-family: 'fontawesome';
//									content:     "\f04c";
//									font-size:   20px;
//
//								}
//							}
//							a.pp_arrow_previous {
//								&:before {
//									font-family: 'fontawesome';
//									content:     "\f053";
//									font-size:   20px;
//								}
//							}
//
//							a.pp_arrow_next {
//								margin-right: 0;
//								&:before {
//									text-align:  center;
//									font-family: 'fontawesome';
//									content:     "\f054";
//									font-size:   20px;
//								}
//
//							}
//
//						}
//					}
//				}
//			}
//		}
//	}
//
//}

.contact-home {
	height:     400px;
	display:    table;
	text-align: center;
	width:      100%;
	.__contact-home-wraper {
		display:        table-cell;
		vertical-align: middle;
		color:          #fff;
		width:          100%;
		h4 {
			font-size:     35px;
			color:         inherit;
			margin-bottom: 0;
		}
		p {
			font-size:     25px;
			margin-bottom: 25px;
			font-weight:   200;
		}
		span {
			display:     inline-block;
			padding:     5px 15px;
			border:      1px solid #fff;
			font-size:   18px;
			font-weight: 200;
			a {
				font-weight: 400;
				color:       inherit;
			}
		}
	}
}

.profile_pass-wrap input,
.text-wrap.label-above input,
.text-wrap.label-below input,
.text-wrap.label-inside input,
.textarea-wrap.label-above textarea,
.textarea-wrap.label-below textarea,
.textarea-wrap.label-inside textarea,
.list-dropdown-wrap.label-above select,
.list-dropdown-wrap.label-below select {
	height: 42px;
	line-height: 42px;
}
.ninja-forms-required-items{
	display: none;
}
.login-box{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
	a{
	}
}


/*Button*/
.m-button {
	display:            inline-block;
	font-size:          13px;
	line-height:        1.2;
	letter-spacing:     0.1em;
	text-align:         center;
	text-transform:     uppercase;
	padding:            16.5px 30px;

	-webkit-transition: all .3s;
	-moz-transition:    all .3s;
	-ms-transition:     all .3s;
	-o-transition:      all .3s;
	transition:         all .3s;

	img {
		height: 14px;
		width:  14px;
	}
}

.m-button-xs {
	padding: 16.5px 30px;
	&.m-button-bordered-2 {
		padding: 15.5px 28px;
	}
}

.m-button-sm {
	padding: 19px 39px;
	&.m-button-bordered-2 {
		padding: 18px 37px;
	}
}

.m-button-md {
	font-size: 14px;
	padding:   21px 48px;
	&.m-button-bordered-2 {
		padding: 20px 46px;
	}
}

.m-button-lg {
	font-size: 16px;
	padding:   19.5px 57px;
	&.m-button-bordered-2 {
		padding: 18.5px 55px;
	}
}

.m-button-xlg {
	font-size: 18px;
	padding:   21px 57px;
	&.m-button-bordered-2 {
		padding: 20px 55px;
	}
}

.m-button-primary {
	background-color: @primary_color;
	color:            @primary_color;
}

.m-button-secondary {
	background-color: @secondary_color;
	color:            @secondary_color;
}

.m-button-gray {
	background-color: #444;
	color:            #444;
}

.m-button-black {
	background-color: #000;
	color:            #000;
}

.m-button-light {
	border-color:     #fff;
	background-color: #fff;
	color:            #fff;
	&.m-button-bg,
	&.m-button-3d {
		color:        #000;
		border-color: #fff;
	}
}

.m-button-bordered {
	border:           1px solid;
	background-color: transparent;
}

.m-button-bordered-2 {
	border:           2px solid;
	background-color: transparent;
}

.m-button-bg {
	border: 1px solid;
	color:  #fff;
}

.m-button-3d {
	border:        1px solid;
	border-top:    none;
	color:         #fff;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
}

.m-button-primary {
	border-color: @primary_color;
}

.m-button-secondary {
	border-color: @secondary_color;
}

.m-button-gray {
	border-color: #444;
}

.m-button-black {
	border-color: #000;
}

.m-button-primary:focus,
.m-button-primary:active {
	color: @primary_color;
}

.m-button-secondary:focus,
.m-button-secondary:active {
	color: @secondary_color;
}

.m-button-gray:focus,
.m-button-gray:active {
	color: #444;
}

.m-button-black:focus,
.m-button-black:active {
	color: #000;
}

.m-button-bg:focus,
.m-button-bg:active,
.m-button-3d:focus,
.m-button-3d:active {
	color: #fff;
}

.m-button-light:focus,
.m-button-light:active {
	color:        #fff;
	border-color: #fff;
	&.m-button-bg,
	&.m-button-3d {
		color: #000;
	}
}

.m-button-primary:hover {
	background-color: @primary_color;
	&.m-button-bg,
	&.m-button-3d {
		background-color: #444;
		border-color:     #444;
	}
}

.m-button-secondary:hover {
	background-color: @secondary_color;
	&.m-button-bg,
	&.m-button-3d {
		background-color: #444;
		border-color:     #444;
	}
}

.m-button-gray:hover {
	background-color: #444;
	&.m-button-bg,
	&.m-button-3d {
		background-color: @primary_color;
		border-color:     @primary_color;
	}
}

.m-button-black:hover {
	background-color: #000;
	&.m-button-bg,
	&.m-button-3d {
		background-color: @secondary_color;
		border-color:     @secondary_color;
	}
}

.m-button-bordered:hover {
	color: #fff;
}

.m-button-bordered-2:hover {
	color: #fff;
}

.m-button-bg:hover,
.m-button-3d:hover {
	color: #fff;
}

.m-button-light:hover {
	background-color: #fff;
	color:            @text_color;
	border-color:     #fff;
	&.m-button-3d,
	&.m-button-bg {
		color: @text_color;
	}
}

.m-button.i-left {
	position: relative;
	&.m-button-sm,
	&.m-button-xs {
		padding-left: 45px;
	}
	img,
	i {
		position:    absolute;
		left:        25px;
		line-height: 1.2;
	}
}

.m-button.i-right {
	position: relative;
	&.m-button-sm,
	&.m-button-xs {
		padding-right: 45px;
	}
	img,
	i {
		position:    absolute;
		right:       25px;
		line-height: 1.2;
	}
}

.half_sin_wrapper {
	position: absolute;
	bottom: calc(100%);
	left: 0;
	width: 100%;
	height: 10px;
	overflow: hidden;
	z-index: 2;
	.half_sin{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.footer_half_sin{
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
.rev_slider_wrapper {
	background-color: #1C95B3 !important;
}
.banner.style5 .banner-wrapper .banner-content .m-button{
	font-family: @secondary_font;
}
.box-notice{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: #FFCDC6;
	color: #f00;
	z-index: 999;
	.notice-inner{
		position: relative;
		a.turn-off-notice{
			position: absolute;
			display: inline-block;
			padding: 0 20px;
			right: 0;
			top: 0;
			font-size: 15px;
			font-weight: 500;
			&:before{
				content: '\f00d';
				font-family: 'FontAwesome';
				padding-right: 10px;
				display: inline-block;
			}
			&:hover{
				color: #f00;
			}
		}
	}
	p{
		line-height:60px;
		margin-bottom: 0;
		font-size: 15px;
		font-weight: 500;
	}
}
body.user-limit-date{
	margin-top: 60px;

}
.form-contact-wrap {
	input, textarea {
		width: 100%;
		margin-bottom: 25px;
	}

	input[type="submit"] {
		width: auto;
		margin-bottom: 0;
	}

	textarea {
		height: 230px;
	}

	&.form-transparent {
		input:not([type="submit"]), textarea {
			background-color: transparent;
		}
	}
}
.widget-contact-info.contact-form > li{
	margin-bottom: 5px;
}
.margin-bottom--60{
	margin-bottom: -60px;
}