.layout-container-fluid.archive-product-wrap {
	padding: 0 15px;
}

.single-product-wrap {
	overflow: hidden;
}

.site-content-archive-product {
	margin-bottom: 35px;
	.sidebar {
		margin-bottom: 65px;
	}
}


.woocommerce-pagination {
	height:     40px;
	text-align: center;
	margin:     17px 0 65px 0;
	padding:    60px 0 10px;
	border-top: 1px solid @border_color;
	.pagination > li > span,
	.pagination > li > a {
		.rounded(2px);
		background:  #eee;
		font-size:   14px;
		font-family: @primary_font;
	}
}

.woocommerce .woocommerce-ordering,
.woocommerce .woocommerce-result-count {
	margin-bottom:  0;
	letter-spacing: 0.02em;
	font-size:      13px;
	line-height:    40px;
	font-family:    @primary_font;
	font-weight:    500;
	b {
		font-weight: 600;
	}
	select {
		border:             1px solid #ddd;
		appearance:         none;
		-moz-appearance:    none;
		-webkit-appearance: none;
		position:           relative;
		z-index:            999;
		background:         transparent;
		font-family:        @primary_font;
		color:              @text_color;
		font-size:          13px;

	}
}

.woocommerce .woocommerce-ordering {
	position: relative;

	&:after {
		display:                 inline-block;
		font:                    normal normal normal 14px/1 FontAwesome;
		font-size:               inherit;
		text-rendering:          auto;
		-webkit-font-smoothing:  antialiased;
		-moz-osx-font-smoothing: grayscale;
		content:                 "\f107";
		position:                absolute;
		right:                   0;
		top:                     0;
		width:                   35px;
		height:                  40px;
		text-align:              center;
		line-height:             40px;
		cursor:                  pointer;
	}
	select::-ms-expand {
		display: none;
	}
}

.catalog-filter {
	margin-bottom: 40px;
	line-height:   40px;
}

.catalog-filter-visible .catalog-filter,
.result-count-visible .woocommerce-result-count,
.catalog-ordering-visible .woocommerce-ordering {
	display: none;
}

.woocommerce .products .star-rating,
.woocommerce .star-rating {
	float:          none;
	font-size:      12px;
	width:          85px;
	height:         14px;
	letter-spacing: 5px;
	&:before {
		color:   #cfcfcf;
		content: "\53\53\53\53\53";
	}
	span {
		color: @primary_color;
	}
}

.woocommerce div.product span.price,
.woocommerce div.product p.price {
	font-size:   13px;
	display:     block;
	color:       @primary_color;
	line-height: 1;

	> span, ins {
		display:         inline-block;
		text-decoration: none;
		color:           @primary_color;
		margin-right:    20px;
		font-size:       20px;
		font-weight:     600;
	}
	del {
		display:     inline-block;
		font-size:   13px;
		opacity:     1;
		font-weight: 300;
		color:       @meta_text_color;
	}
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.wc-forward,
.woocommerce button.wc-forward,
.woocommerce input.wc-forward {
	display:               inline-block;
	-webkit-transition:    all 0.2s linear;
	-moz-transition:       all 0.2s linear;
	-ms-transition:        all 0.2s linear;
	-o-transition:         all 0.2s linear;
	transition:            all 0.2s linear;
	border:                2px solid;
	padding:               1px 18px;
	font-size:             13px;
	background-color:      @secondary_color;
	border-color:          @secondary_color;
	font-family:           @primary_font;
	color:                 #FFFFFF;
	line-height:           2;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	font-weight:           400;
	&:hover, &:active {
		text-decoration: none !important;
		outline:         none !important;
	}
	&:hover {
		background-color: @primary_color;
		border-color:     @primary_color;
		color:            #fff;
	}
}

.woocommerce button.wc-forward,
.woocommerce input.wc-forward {
	background-color: @primary_color;
	border-color:     @primary_color;
	&:hover {
		background-color: @secondary_color;
		border-color:     @secondary_color;
	}
	&:after {
		content:     '\f06e';
		font-family: 'FontAwesome';
		font-size:   16px;
		position:    absolute;
		left:        50%;
		margin-left: -8px;
		width:       16px;
		height:      16px;
		line-height: 16px;
		top:         50%;
		margin-top:  -8px;
	}
	&:before {
		display: none;
		content: '';
	}
	//	&.checkout-button{
	//		&:after{
	//			content: '';
	//		}
	//	}
}

.product-flash-wrap {
	position:    absolute;
	top:         40px;
	right:       0;
	z-index:     3;
	font-family: @primary_font;
	font-weight: 600;
	.on-sale,
	.on-new {
		background-color: @primary_color;
		color:            #fff;
		height:           22px;
		width:            60px;
		//line-height:      22px;
		text-align:       center;
		text-transform:   uppercase;
		font-size:        12px;
		letter-spacing:   0.02em;
		display:          block;
	}
	.on-sale + .on-new {
		margin-top:       15px;
		background-color: @secondary_color;
	}

}

.woocommerce div.product form.cart div.quantity,
.product-quantity div.quantity {
	margin: 0;
	.quantity-inner {
		width:        64px;
		height:       50px;
		margin-right: 30px;
		position:     relative;
		.qty {
			width:            100%;
			height:           100%;
			background-color: #fff;
			border:           1px solid #dddddd;
			border-right:     transparent;
			font-size:        14px;
			padding:          0 10px;
			text-align:       center;
		}
		.btn-number {
			position:         absolute;
			left:             100%;
			width:            30px;
			height:           25px;
			line-height:      19px;
			background-color: #fff;
			border:           1px solid #ddd;
			border-left:      none;
			color:            @text_color;

		}

		.btn-number[data-type="minus"] {
			bottom:      0;
			border-top:  1px solid #ddd;
			border-left: 1px solid #ddd;
			background:  #f7f7f7;
			i {
				display:    block;
				margin-top: -5px;
			}
		}

		.btn-number[data-type="plus"] {
			top:           0;
			background:    #f7f7f7;
			border-bottom: transparent;
			border-left:   1px solid #ddd;
		}
	}
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce form .form-row select {
	height:           50px;
	background-color: #FFF;
	padding:          0 20px;
	font-size:        14px;
	text-transform:   none;
	border:           1px solid #dddddd;
	font-weight:      300;
}

.woocommerce form .form-row label {
	font-weight: 300;
}

#calc_shipping_country_field, #calc_shipping_state_field {
	position: relative;
	&:after {
		content:          '\f107';
		font-family:      'fontawesome';
		font-size:        18px;
		position:         absolute;
		right:            1px;
		width:            30px;
		text-align:       center;
		top:              1px;
		height:           48px;
		line-height:      48px;
		pointer-events:   none;
		background-color: #F9F9F9;
	}
	select::-ms-expand {
		display: none;
	}
}

.woocommerce form .form-row {
	padding:       0;
	margin-bottom: 15px;
}

div.floating-cart {
	position:   absolute;
	top:        0;
	left:       0;
	background: #fff;
	z-index:    1000;
	overflow:   hidden;
	box-shadow: 0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	display:    none;
}

/* --------------------------------------------
	PRODUCT LISTING
-------------------------------------------- */
.product-listing.woocommerce {
	margin: 0 -15px;
	.product-item-wrap {
		float:   left;
		padding: 0 15px 40px 15px;
	}

	.rating-visible .star-rating {
		display: none;
	}

	.product-item-inner {
		position: relative;
	}

	.product-thumb img {
		width:            100%;
		border:           1px solid @border_color;
		padding:          30px;
		background-color: #F9F9F9;
	}

	.product-thumb {
		position:      relative;
		margin-bottom: 25px;

		.product-flash-wrap {
			right: 1px;
		}

		&:hover {
			.product-link {
				.rgba-bg-color(@primary_color, 0.6);
			}

		}
	}

	.product-thumb-secondary {
		position:           absolute;
		margin:             auto;
		top:                0;
		bottom:             0;
		left:               0;
		right:              0;
		opacity:            0;
		z-index:            1;

		-webkit-transition: all 0.2s linear;
		-moz-transition:    all 0.2s linear;
		-ms-transition:     all 0.2s linear;
		-o-transition:      all 0.2s linear;
		transition:         all 0.2s linear;
	}

	.quick-view-visible .product-link {
		background-color: transparent !important;
	}
	.product-link {
		position:           absolute;
		top:                0;
		left:               0;
		width:              100%;
		height:             100%;
		z-index:            2;
		background-color:   transparent;
		-webkit-transition: all 0.175s linear;
		-moz-transition:    all 0.175s linear;
		-ms-transition:     all 0.175s linear;
		-o-transition:      all 0.175s linear;
		transition:         all 0.175s linear;
	}
	.product-actions {
		position:   absolute;
		top:        0;
		bottom:     0;
		left:       0;
		right:      0;
		height:     30px;
		text-align: center;
		margin:     auto;
		z-index:    3;
	}
	.product-quick-view {
		position:           relative;
		opacity:            0;
		-webkit-transform:  scale(0);
		-moz-transform:     scale(0);
		-ms-transform:      scale(0);
		-o-transform:       scale(0);
		transform:          scale(0);
		-webkit-transition: all 0.3s linear;
		-moz-transition:    all 0.3s linear;
		-ms-transition:     all 0.3s linear;
		-o-transition:      all 0.3s linear;
		transition:         all 0.3s linear;
		&:hover {
			background-color: @secondary_color;
			border-color:     @secondary_color;
			color:            #fff;
		}
	}

	.product-item-wrap .star-rating {
		margin-bottom: 10px;
		span {
			color: #FFB600;
		}
	}

	.product-author {
		margin-bottom: 10px;
		color:         @meta_text_color;
	}

	.product-name {
		display:        block;
		font-size:      12px;
		color:          @text_color;
		margin-bottom:  5px;
		text-transform: uppercase;
		font-family:    @primary_font;
		font-weight:    600;
		&:hover {
			color:           @primary_color;
			text-decoration: none;
		}
	}
	.product-add-to-cart {
		clear:    both;
		overflow: auto;
		span.price {
			display:        inline-block;
			vertical-align: middle;
			line-height:    30px;
			margin-top:     3px;
			margin-bottom:  3px;

			ins {
				margin-right: 10px;
			}

		}

		a.button {
			float:            right;
			background-color: #F9F9F9;
			color:            @text_color;
			font-weight:      500;
			border:           1px solid @border_color;
			.rounded();
			margin-top:       3px;
			margin-bottom:    3px;
			&:after {
				display: none;
			}

			&:hover {
				background-color: @primary_color;
				color:            #ffffff;
			}

		}

	}
	span.price {
		z-index:     1;
		font-size:   13px;
		color:       @primary_font;
		font-family: @primary_font;
		font-weight: 700;

	}

	.added_to_cart.wc-forward {
		display:          inline-block;
		//-webkit-transition:    all 0.2s linear;
		//-moz-transition:       all 0.2s linear;
		//-ms-transition:        all 0.2s linear;
		//-o-transition:         all 0.2s linear;
		//transition:            all 0.2s linear;
		border:           1px solid @border_color;
		font-weight:      500;
		padding:          1px 10px;
		background-color: #f9f9f9;
		color:            @text_color;
		z-index:          999;
		float:            right;
		//width:                 38px;
		//height:                38px;
		//line-height:           38px;
		//text-align:            center;
		//-webkit-transform:     translateY(20px);
		//-moz-transform:        translateY(20px);
		//-ms-transform:         translateY(20px);
		//-o-transform:          translateY(20px);
		//transform:             translateY(20px);
		transform:        none !important;

		&:hover, &:active {
			text-decoration: none !important;
			outline:         none !important;
		}
		&:hover {
			background-color: @primary_color;
			border-color:     @primary_color;
			color:            #fff;
		}
	}

	.added_to_cart.wc-forward + span.price {
		display: none;
	}

	.add_to_cart_button.loading:after,
	.add_to_cart_button.added:after {
		display: none;
	}
	.add_to_cart_button.loading {
		opacity:           1;
		padding-right:     18px;
		visibility:        visible;
		color:             transparent !important;
		-webkit-transform: translateY(0);
		-moz-transform:    translateY(0);
		-ms-transform:     translateY(0);
		-o-transform:      translateY(0);
		transform:         translateY(0);

	}
	.add_to_cart_button.loading:before {
		font-family:            "fontawesome";
		content:                "\f021";
		-webkit-font-smoothing: antialiased;
		font-weight:            400;
		display:                inline;
		-webkit-animation:      spin 1s linear infinite;
		-moz-animation:         spin 1s linear infinite;
		animation:              spin 1s linear infinite;
		font-size:              16px;
		position:               absolute;
		left:                   50%;
		margin-left:            -8px;
		width:                  16px;
		height:                 16px;
		line-height:            16px;
		top:                    50%;
		margin-top:             -8px;
		color:                  @text_color;
	}

	.add_to_cart_button.added {
		display: none;
	}

	.added_to_cart.wc-forward:before {
		font-family:            "fontawesome";
		content:                "\f07a";
		-webkit-font-smoothing: antialiased;
		font-weight:            400;
		display:                inline-block;
		margin-right:           10px;
	}

	.product-item-wrap.active,
	.product-item-wrap:hover {
		.product-thumb-secondary {
			opacity: 1;
		}

		.added_to_cart.wc-forward,
		.product_type_external,
		.product_type_grouped,
		.product_type_simple,
		.product_type_variable {
			-webkit-transform: translateY(0px);
			-moz-transform:    translateY(0px);
			-ms-transform:     translateY(0px);
			-o-transform:      translateY(0px);
			transform:         translateY(0px);
			opacity:           1;
			visibility:        visible;
		}
		span.price {
			//			opacity: 0;
			//			visibility: hidden;
			//			-webkit-transform: translateY(-20px);
			//			-moz-transform: translateY(-20px);
			//			-ms-transform: translateY(-20px);
			//			-o-transform: translateY(-20px);
			//			transform: translateY(-20px);

		}
		.product-quick-view {
			opacity:           1;
			-webkit-transform: scale(1);
			-moz-transform:    scale(1);
			-ms-transform:     scale(1);
			-o-transform:      scale(1);
			transform:         scale(1);
		}
		.product-link {
			//background-color: rgba(0, 0, 0, 0.8);
		}
	}

	.product-item-wrap.added {
		.added_to_cart.wc-forward,
		.product_type_external,
		.product_type_grouped,
		.product_type_simple,
		.product_type_variable {
			-webkit-transform: translateY(-20px);
			-moz-transform:    translateY(-20px);
			-ms-transform:     translateY(-20px);
			-o-transform:      translateY(-20px);
			transform:         translateY(-20px);
			opacity:           1;
			visibility:        visible;
		}
		span.price {
			opacity:           0;
			display:           none;
			-webkit-transform: translateY(-20px);
			-moz-transform:    translateY(-20px);
			-ms-transform:     translateY(-20px);
			-o-transform:      translateY(-20px);
			transform:         translateY(-20px);

		}
	}

	&.columns-2 .product-item-wrap {
		width: 50%;
	}

	&.columns-3 .product-item-wrap {
		width: 33.33333333%;
	}

	&.columns-4 .product-item-wrap {
		width: 25%;
	}

	&.columns-5 .product-item-wrap {
		width: 20%;
	}

	&.columns-6 .product-item-wrap {
		width: 16.66666667%;
	}

	&.product-slider {
		.product-item-wrap {
			float: none;
		}
	}

	.product-category {
		img {
			width: 100%;
		}
		a:hover {
			text-decoration: none;
		}
		h3 {
			display:       block;
			font-size:     18px;
			font-weight:   bold;
			color:         #1a1a1a;
			margin-bottom: 0;
			margin-top:    20px;
			position:      relative;
			&:hover {
				color:           @primary_color;
				text-decoration: none;
			}
			&:after {
				content:          "";
				display:          block;
				width:            35px;
				height:           1px;
				background-color: #cccccc;
				margin-top:       5px;
			}
		}
		mark {
			background:  none;
			position:    absolute;
			font-size:   10px;
			margin-left: 3px;
			top:         -3px;
		}
	}

}

/*------------------------------
* QUICK VIEW
------------------------------*/
#popup-product-quick-view-wrapper {
	.modal-content .modal-body {
		.single-product-info {
			margin-bottom: 0 !important;
		}

	}
}

/* --------------------------------------------
	SINGLE PRODUCT INFO
-------------------------------------------- */

.woocommerce .site-content-single-product {
	.single-product-info {
		margin: 0 -15px 60px -15px;
		.single-product-image-wrap {
			float:   left;
			/*width: 50%;*/
			width:   44.44444444444444%;
			padding: 0 15px;

			.single-product-image {
				position: relative;
			}
			.woocommerce-main-image {
				display: block;
			}

			#sync1 {
				.owl-wrapper-outer {
					background-color: #f9f9f9;
					border:           1px solid @border_color;
				}

				&.owl-carousel .owl-wrapper-outer {

					.owl-wrapper {
						display: table !important;
					}

					.img-wrapper{
						position: relative;
						padding:        30px;
					}

					.owl-wrapper .owl-item {
						//padding:        0;
						//text-align:     center;
						display:        table-cell;
						//float:          none;
						vertical-align: middle;

						img {
							//border: 1px solid @border_color;
							width: 100%;
						}
					}
				}
			}

			.owl-carousel {
				&:hover {
					.owl-controls {
						.opacity(1);
						visibility: visible;

					}
				}
				.owl-controls {
					margin-top:         0;
					visibility:         hidden;
					.opacity(0);
					transition:         visibility 0s, opacity 0.3s linear;
					-webkit-transition: visibility 0s, opacity 0.3s linear;
					-moz-transition:    visibility 0s, opacity 0.3s linear;
					-o-transition:      visibility 0s, opacity 0.3s linear;

					.owl-buttons {
						width: 100%;

						> div {
							display:          block;
							position:         absolute;
							top:              50%;
							.transform(translateY(-50%));
							.opacity(1);
							.transition-duration(0.3s);
							border-radius:    0;
							font-size:        20px;
							line-height:      40px - 8px;
							height:           40px;
							width:            40px;
							margin:           0;
							border:           2px solid #444444;
							background-color: #444444;
							color:            #eeeeee;

							&:hover {
								background-color: #eeeeee;
								color:            #444444;
							}

							i {
								//line-height: 30px;
							}

						}

						.owl-prev {
							float: left;
						}
						.owl-next {
							float: right;
						}
					}
				}

			}

			.product-image-total-1 {
				display: none;
			}
			.product-thumb-wrap {
				margin: 30px -5px 0 -5px;
			}

			#sync2 {
				.owl-wrapper-outer {
					//background-color: #f9f9f9;
					//border:           1px solid @border_color;
				}

				&.owl-carousel .owl-wrapper-outer {


					.owl-wrapper .owl-item {
						//padding:        0;
						text-align:     center;

						img {
							padding: 5px;
						}
					}
				}

				.thumbnail-image {
					background-color: #f9f9f9;
					border:           1px solid @border_color;
					margin:           0 5px;
					//padding:    0 5px;
					text-align:       center;
					img {
						//border: 1px solid @border_color;
					}
				}
				.thumbnail-image a {
					display:  block;
					position: relative;
				}
				.thumbnail-image a:before {
					content:          "";
					position:         absolute;
					top:              0;
					right:            0;
					left:             0;
					bottom:           0;
					margin:           auto;
					background-color: rgba(0, 0, 0, 0);
				}
				.synced .thumbnail-image a:before {
					background-color: rgba(255, 255, 255, 0.7);
					//.opacity(0.7);
				}
			}

		}
		.summary-product-wrap {
			float:   left;
			padding: 0 15px;
			/*width: 50%;*/
			width:   55.55555555555556%
		}
		h1.product_title {
			font-size:      20px;
			margin-bottom:  20px;
			text-transform: uppercase;
			font-weight:    600;
		}

		.product-author {
			margin-bottom: 15px;
			color:         @meta_text_color;
		}
		.woocommerce-product-rating {
			margin-bottom: 25px;
			.star-rating {
				margin: 4px 20px 0 0;
				span {
					color: #FFB600;
				}
			}
			.woocommerce-review-link {
				font-size:   13px;
				font-weight: 400;

			}
		}
		p.price {
			font-size:     18px;
			margin-bottom: 25px;
			del {
				font-size: 14px;
			}
		}
		.product-single-short-description {
			font-size:     14px;
			margin-bottom: 30px;
			p {
				margin-bottom: 0;
			}
		}

		form.cart,
		div.cart,
		p.cart {
			margin-bottom: 30px;
			position:      relative;
			display:       inline-block;
			width:         100%;
			/*font-size: 0;*/
			/* select {
				  height: 40px;
				  border: 1px solid #CBCBCB;
				  color: #1a3a4b;
				  font-size: 13px;
				  font-weight: bold;
				}*/

			div.quantity {
				margin-right: 20px !important;
				.quantity-inner {
					height: 46px;
					width:  44px;
				}
			}

			.added_to_cart {
				&.wc-forward {
					display: none;
				}
			}
			.button,
			.wc-forward {
				font-size:        12px;
				padding:          9px 24px;
				background-color: @secondary_color;
				border-color:     @secondary_color;
				.rounded(3px);
				&:hover {
					background-color: @primary_color;
					border-color:     @primary_color;
				}
			}

			.group_table {
				font-size:     12px;
				margin-bottom: 20px;
				td {
					padding-bottom: 20px;
					line-height:    36px;
				}
				td.label {
					padding: 0 5px;
				}
				div.quantity {
					margin-right: 5px;
				}

				label {
					font-size:   14px;
					color:       #2a2a2a;
					font-weight: normal;
					margin:      0;
					line-height: 36px;
				}

				td.price {
					font-size:   12px;
					color:       @bold_color;
					font-weight: bold;
					ins {
						display:         inline-block;
						text-decoration: none;
						color:           @bold_color;
					}
					del {
						display:      inline-block;
						font-size:    12px;
						color:        #a0a0a0;
						opacity:      1;
						margin-right: 15px;
					}

					.out-of-stock {
						display:       inline-block;
						margin-bottom: 0;
						color:         #cacaca;
						font-size:     11px;
						margin-left:   3px;
					}
				}
			}

			.add_to_cart_button.loading:after,
			.add_to_cart_button.added:after {
				display: none;
			}
			.add_to_cart_button.loading {
				opacity: 1;
				//padding-right: 33px;
			}

			.add_to_cart_button.loading:before {
				font-family:            "fontawesome";
				content:                "\f021";
				-webkit-font-smoothing: antialiased;
				font-weight:            400;
				display:                inline;
				margin-right:           9px;
				-webkit-animation:      spin 1s linear infinite;
				-moz-animation:         spin 1s linear infinite;
				animation:              spin 1s linear infinite;
			}

			.added_to_cart.wc-forward:before {
				font-family:            "fontawesome";
				content:                "\f07a";
				-webkit-font-smoothing: antialiased;
				font-weight:            400;
				display:                inline-block;
				margin-right:           5px;
			}

			.add_to_cart_button.added {
				display: none;
			}

			.single_variation {
				margin-bottom: 20px;
			}
			.single_add_to_cart_button {
				padding:    9px 33px;
				font-size:  13px;
				background: @secondary_color;
				&.add_to_cart_button {
					&:before {
						content:                 "\f07a";
						display:                 inline-block;
						font:                    normal normal normal 14px/1 FontAwesome;
						font-size:               inherit;
						text-rendering:          auto;
						-webkit-font-smoothing:  antialiased;
						-moz-osx-font-smoothing: grayscale;
						width:                   13px;
						height:                  13px;
						margin-right:            10px;
					}
				}
				&:hover {
					background: @primary_color;
				}
				&.loading {
					&:before {
						font-family:            "fontawesome";
						content:                "\f110";
						-webkit-font-smoothing: antialiased;
						font-weight:            400;
						display:                inline-block;
						width:                  13px;
						height:                 13px;
						margin-right:           10px;
						-webkit-animation:      spin 1s linear infinite;
						-moz-animation:         spin 1s linear infinite;
						animation:              spin 1s linear infinite;
						padding:                0 !important;
					}
				}
				&.added {
					display: block !important;
				}
			}

		}

		form.variations_form {
			margin-bottom: 0;
			.variations {
				margin-bottom: 20px;
				width:         100%;
			}
			.variations td {
				display:    table-cell;
				text-align: left;
			}
			.variations td.label {
				padding: 0 0 15px 0;
			}
			.variations td.label label {
				font-size:     14px;
				color:         #2a2a2a;
				font-weight:   normal;
				line-height:   40px;
				margin-bottom: 0;
				padding-right: 10px;
			}
			.variations_button,
			.grouped_button {
				position:      relative;
				display:       inline-block;
				margin-bottom: 30px;
			}
		}

		.product_meta {
			font-family: @primary_font;
			> span {
				display: block;
				a, span {
					color:       @text_color;
					font-size:   13px;
					font-family: inherit;
					font-weight: 300;
				}
				a:hover {
					color: @primary_color;
				}
			}
			label {
				font-weight:    normal;
				margin-bottom:  0;
				text-transform: uppercase;
				font-size:      13px;
				color:          @text_color;
			}
		}
		.social-share-wrap {
			text-align: left;
			margin-top: 35px;
			.social-share {
				li {
					position: static;
					display:  inline-block;
					top:      auto;
					left:     auto;
					margin:   0 5px 0 0;
					a {
						color:      #fff;
						background: @primary_color;
						&:hover {
							background: @secondary_color;
						}
					}
				}
			}
		}

		.out-of-stock {
			//display: none;
		}
	}
}

/* --------------------------------------------
	SINGLE PRODUCT TAB
-------------------------------------------- */
.woocommerce div.product .woocommerce-tabs {
	margin-bottom: 55px;
	ul.tabs {
		padding:       0;
		margin:        0;
		font-size:     0;
		font-family:   @primary_font;
		border-bottom: 1px solid #ddd;
		overflow:      visible;
		&:after {
			display: block;
			clear:   both;
			content: '';
		}
	}
	ul.tabs li {
		margin-left:   0px;
		margin-bottom: -1px;
		font-size:     0;
		border:        0;
		&:first-child {
			a {
				border-left: 1px solid #ddd;
			}
		}
	}
	ul.tabs:before,
	ul.tabs li:before,
	ul.tabs li:after {
		display: none;
	}
	ul.tabs li a {
		min-width:      132px;
		padding:        11px 20px;
		text-align:     center;
		border:         1px solid #DDDDDD;
		border-radius:  0;
		border-left:    0;
		margin:         0;
		font-size:      13px;
		background:     #EEEEEE;
		text-transform: uppercase;
		border-bottom:  0;
	}
	ul.tabs li a:hover {
		background: #fff;
	}
	ul.tabs li.active a {
		position:      relative;
		background:    #fff;
		border-top:    1px solid transparent;
		border-bottom: 1px solid transparent;
		&:before {
			position:   absolute;
			content:    '';
			width:      100%;
			top:        0;
			height:     2px;
			background: @primary_color;
			left:       0;
		}
	}

	.panel {
		border:                1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius:    0;
		border-radius:         0;
		-webkit-box-shadow:    none;
		-moz-box-shadow:       none;
		box-shadow:            none;
		padding:               30px;
		margin-bottom:         0;
		background-color:      #fff;
		border-top:            0;
	}
	.panel p:last-child {
		margin-bottom: 0;
	}
}

/* --------------------------------------------
	SINGLE PRODUCT REVIEW
-------------------------------------------- */
.woocommerce #reviews #comments h2 {
	color:          #373636;
	font-size:      18px;
	font-weight:    bold;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	display:        none;
}

.woocommerce #reviews #comments ol.commentlist {
	padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li {
	margin:           0;
	padding:          30px 20px;
	border:           1px solid #F0F0F0;
	background-color: #fafafa;
}

.woocommerce #reviews #comments ol.commentlist li + li {
	margin-top: 30px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	width:        80px;
	margin-right: 20px;
	position:     relative;
	padding:      0;
	border:       none;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin:                0;
	position:              relative;
	overflow:              hidden;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	padding:               0;
	border:                none;
	.star-rating {
		margin: 0 0 5px 0;
		span {
			color: #FFB600;
		}
	}
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size:     12px;
	margin-bottom: 10px;
	strong {
		font-size: 16px;
		color:     #2a2a2a;
	}
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .description p {
	margin-bottom: 20px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text .description p:last-child {
	margin: 0;
}

.woocommerce #reviews #review_form_wrapper {
	margin-top: 60px;
}

.woocommerce #reviews h3 {
	margin-bottom: 30px;
}

.woocommerce #review_form #respond {
	p > label {
		font-weight: 500;
	}

	p.comment-form-rating {

		margin-bottom: 15px;

		.stars span {

			a:after {
				color: #ffb600;
			}

		}
	}
}

.woocommerce #reviews #comment {
	height: 150px;
}

.woocommerce #reviews .comment-form {
	margin: 0;
}

.woocommerce #reviews .comment-form .comment-notes,
.woocommerce #reviews .comment-form .form-submit,
.woocommerce #reviews .comment-form .logged-in-as {
	padding: 0;
}

.woocommerce #review_form #respond .form-submit input {
	margin-top:       10px;
	padding:          7px 40px;
	border:           none;

	background-color: @primary_color;

	&:hover {
		background-color: @secondary_color;
	}

}

.upsells.products,
.related.products,
.cross-sells {
	margin-top:     60px;
	padding-bottom: 40px;
	position:       relative;
	&:before {
		content:  "";
		position: absolute;
		display:  block !important;
		height:   100%;
		width:    2000%;
		left:     -1000%;
	}
	h4.os-title {

	}

	.product-slider {
		.owl-theme .owl-controls {
			margin: 0;
			height: 0;
		}
		.owl-theme .owl-controls .owl-buttons div {

			position:              absolute;
			width:                 40px;
			height:                40px;
			line-height:           40px;
			margin:                -92.5px 0 0 0;
			display:               block;
			top:                   50%;
			cursor:                pointer;
			text-align:            center;
			background-color:      rgba(0, 0, 0, 0.7);
			z-index:               200;
			padding:               0;
			opacity:               0;
			color:                 #fff;

			font-size:             24px;

			-webkit-border-radius: 0;
			-moz-border-radius:    0;
			border-radius:         0;

			-webkit-transition:    all 0.3s;
			-moz-transition:       all 0.3s;
			-ms-transition:        all 0.3s;
			-o-transition:         all 0.3s;
			transition:            all 0.3s;
		}

		.owl-theme .owl-controls .owl-buttons div.owl-prev {
			left:              15px;
			-webkit-transform: translateX(-50px);
			-moz-transform:    translateX(-50px);
			-ms-transform:     translateX(-50px);
			-o-transform:      translateX(-50px);
			transform:         translateX(-50px);
		}
		.owl-theme .owl-controls .owl-buttons div.owl-next {
			right:             15px;
			-webkit-transform: translateX(50px);
			-moz-transform:    translateX(50px);
			-ms-transform:     translateX(50px);
			-o-transform:      translateX(50px);
			transform:         translateX(50px);
		}
		&:hover {
			.owl-theme .owl-controls .owl-buttons div {
				opacity:           1;
				-webkit-transform: translateX(0px);
				-moz-transform:    translateX(0px);
				-ms-transform:     translateX(0px);
				-o-transform:      translateX(0px);
				transform:         translateX(0px);
			}
		}
	}
}

.has-sidebar {
	.upsells.products,
	.related.products,
	.cross-sells {
		margin-top: 0;
		&:before {
			display: none !important;
		}
	}
}

/* --------------------------------------------
	SHOPPING CART
-------------------------------------------- */
p.return-to-shop {
	margin-bottom: 80px !important;
}

.woocommerce table.shop_table.cart {
	border:                none;
	margin-bottom:         45px;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}

.woocommerce table.shop_table.cart thead th {
	font-family:      @primary_font;
	font-size:        14px;
	letter-spacing:   0.02em;
	line-height:      20px;
	padding:          15px 20px;;
	text-transform:   uppercase;
	color:            #fff;
	text-align:       center;
	font-weight:      500;
	border-color:     @secondary_color;
	background-color: @secondary_color;
	&.product-name {
		text-align: left;
	}
}

.woocommerce table.shop_table.cart td {
	border-top:   1px solid @border_color;
	border-right: transparent;
	padding:      40px 20px;
	font-weight:  500;
}

.woocommerce table.shop_table.cart tbody td.product-name {
	//border-left: 1px solid #dddddd;
	.product-name-wrap {
		position: relative;
		overflow: hidden;
		height:   60px;
		display:  table;
		.product-name-inner {
			display:        table-cell;
			vertical-align: middle;
			a {
				font-size:      14px;
				color:          @text_color;
				text-transform: uppercase;
				font-family:    @primary_font;

				&:hover {
					color:           @primary_color;
					text-decoration: none;
				}
			}
		}
	}
}

.woocommerce td.product-name dl.variation {
	color: #888888;
	dt {
		font-weight: normal;
		padding:     0 0 5px;
	}
	dd {
		padding: 0 0 5px;
		margin:  0;
	}
}

.woocommerce td.product-name dl.variation {
	margin: 5px 0 0 0;
}

.woocommerce-cart table.cart img {
	width:        89px;
	float:        left;
	border:       1px solid #DDDDDD;
	margin-right: 20px;
}

.woocommerce table.shop_table tbody td.product-price,
.woocommerce table.shop_table tbody td.product-subtotal {
	font-size:      14px;
	text-transform: uppercase;
	text-align:     center;
	color:          @text_color;
	font-family:    @primary_font;
}

.woocommerce table.shop_table tbody td.product-quantity,
.woocommerce table.shop_table tbody td.product-remove {
	text-align: center;
	.quantity-inner {
		display: inline-block;
	}
}

.woocommerce table.shop_table tbody td.product-remove {
	//border-right: 1px solid #dddddd;
	a {
		font-size:       16px;
		color:           @text_color;
		text-decoration: none;
		&:hover {
			color: @primary_color;
		}
	}
}

.woocommerce-cart table.cart td.actions {
	padding:     40px 0 0 0;
	font-weight: 500;

	.coupon .input-text {
		height:           50px;
		line-height:      50px;
		//text-align: center;
		padding-left:     20px;
		background-color: #F9F9F9;
		margin-top:       5px;
		font-weight:      inherit;
	}

	input {
		margin-top:  5px;
		font-weight: inherit;
	}

	a.checkout-button {
		margin-top:  5px;
		font-weight: inherit;
	}

}

.woocommerce-cart table.cart td.actions,
.woocommerce-shipping-calculator {
	.button,
	input.button,
	button.button {
		.rounded() !important;
		color:                 #FFF;
		font-size:             13px;
		background-color:      @primary_color;
		padding:               12px 45px !important;
		letter-spacing:        1px;
		line-height:           2;
		border:                none;
		-webkit-border-radius: 0;
		-moz-border-radius:    0;
		border-radius:         0;
		vertical-align:        middle;
		text-align:            center;
		text-transform:        capitalize;
		font-family:           @primary_font;
		font-weight:           500;
		&:hover {
			background-color: @secondary_color;
			color:            #fff;
		}
		&[name="update_cart"] {
			padding: 12px 37px;
		}
		&[name="apply_coupon"] {
			padding: 12px 22px;
		}
	}
	.wc-forward {
		background-color: @primary_color;
		&:hover {
			background-color: @secondary_color;
		}
	}
}

.woocommerce-shipping-calculator {
	.button,
	input.button,
	button.button {
		padding: 8px 15px;
		width:   100%;
	}

	input, select {
		background-color: #F9F9F9;
	}

}

.cart-collaterals-wrap {
	padding:    0 0 85px 0;
	border-top: 1px solid @border_color;
}

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
	width:  auto;
	margin: 0 -15px;
	h2 {
		font-size:      21px;
		text-transform: uppercase;
		margin-bottom:  20px;
	}
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	width:  100%;
	float:  none;
	margin: 0;
	&:after {
		content: '';
		display: block;
		clear:   both;
	}
}

.woocommerce .cart-collaterals .cart_totals_inner,
.woocommerce-page .cart-collaterals .cart_totals_inner,
.woocommerce-shipping-calculator {
	float:      left;
	width:      50%;
	padding:    0 15px;
	margin-top: 50px;

}

.woocommerce .cart-collaterals .cart_totals_inner,
.woocommerce-page .cart-collaterals .cart_totals_inner {
	h4 {
		font-family:   @primary_font;
		font-weight:   500;
		margin-bottom: 25px;
		padding-left:  5px;
	}
	text-transform: uppercase;
	float:          right;
	width:          41%
}

.woocommerce-shipping-calculator {
	h4 {
		font-family:    @primary_font;
		font-weight:    500;
		margin-bottom:  25px;
		text-transform: uppercase;
	}

	float: left;
	width: 31%;

	@media (max-width: 991px) {
		width: 45%;

	}
}

.shipping-calculator-form {
	position: relative;
	display:  block !important;
	.form-row {
		margin-bottom: 20px !important;

		select, input {
			background-color: #F9F9F9 !important;
		}
	}
}

.shipping-calculator-form p {
	margin-bottom: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals_inner table {
	margin-bottom: 0;
	//border: 1px solid #dddddd;
	th, td {
		font-weight:    500;
		font-size:      14px;
		color:          #2a2a2a;
		padding:        20px 20px 20px 5px;
		font-family:    @primary_font;
		border:         0;
		vertical-align: middle;
		strong {
			font-weight: normal;
		}
	}
	th {
		text-transform: uppercase;
	}
	td {
		text-align: right;
	}
	tr.cart-subtotal {
		border-top: 1px solid @border_color;
	}
	tr.shipping {
	}
	tr.order-total {
		border-top: 1px solid @border_color;
		th, td {
			color:     @primary_color;
			font-size: 18px;
		}
	}

}

.cross-sells {
	margin-top: 0;
	&:before {
		display: none !important;
	}
}

.woocommerce ul#shipping_method li {
	padding:     0;
	text-indent: 0;
}

.woocommerce ul#shipping_method li input[type=radio] {
	margin:         0;
	vertical-align: middle;
}

.woocommerce ul#shipping_method li label {
	font-weight: normal;
	margin:      0;
}

/* --------------------------------------------
	CHECKOUT
-------------------------------------------- */
.woocommerce-checkout .site-content-page {
	margin-bottom: 100px;
}

.woocommerce form.checkout_coupon {
	border:                1px solid @border_color;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	input.button {
		padding:     10px 30px;
		.rounded();
		margin-left: 20px;
	}
	.form-row {
		margin:  0;
		float:   none;
		display: inline-block;
	}

}

.woocommerce-checkout form.login {
	border:                1px solid @border_color;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;

	input.button {
		/*color: #1a3a4b;
		font-size: 13px;
		line-height: 14px;
		font-weight: bold;
		background-color: transparent;
		letter-spacing: 0.05em;
		border: 2px solid #1e1e1e;
		padding: 13px 25px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		vertical-align: middle;
		&:hover {
			background-color: @primary_color;
			border-color: @primary_color;
			color: #fff;
		}*/
		padding-top:    6px;
		padding-bottom: 6px;
	}
	/*input.input-text {
		text-transform: none;
		height: 44px;
		padding: 0 20px;
		border: 1px solid #EDEDED;
		font-size: 12px;
		color: #888888;
		background-color: transparent;
	}*/
}

.woocommerce-billing-fields h3,
#ship-to-different-address,
.woocommerce-checkout-review-order h3#order_review_heading,
#checkout-payment_heading {
	font-size:      21px;
	color:          #2a2a2a;
	text-transform: uppercase;
	margin-bottom:  30px;
}

.woocommerce form .form-row label {
	font-size:     14px;
	line-height:   1;
	margin-bottom: 10px;
	font-weight:   normal;
	color:         #2a2a2a;
}

.select2-container .select2-choice {
	background-color:      #F6F6F6;
	padding:               10px 20px;
	font-size:             12px;
	text-transform:        none;
	color:                 #1a3a4b;
	border:                none;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	font-weight:           300;
	&:hover {
		text-decoration: none;
	}
}

.select2-drop-active {
	border:           none;
	background-color: #F6F6F6;
	font-weight:      300;
}

#ship-to-different-address label {
	font-weight: 500;
	margin:      20px 0 0 0;
	display:     inline-block;
}

#ship-to-different-address .input-checkbox {
	margin:         0;
	vertical-align: middle;
}

.woocommerce form .form-row textarea {
	height:  145px;
	padding: 20px;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table,
.woocommerce table.shop_table.order_details,
.woocommerce table.shop_table.customer_details {
	border:        1px solid @border_color;
	margin-bottom: 60px;
	thead th {
		border-bottom: none;
	}
	th, td {
		font-size:   15px;
		color:       #2a2a2a;
		font-weight: normal;
		padding:     12px 20px;
		border-top:  1px solid @border_color;
		line-height: 2;
		strong {
			font-weight: normal;
		}
	}
	tfoot td, .product-total {
		text-align: right;
	}
}

.woocommerce table.shop_table.customer_details {
	td {
		text-align: right;
	}
}

.woocommerce-checkout #payment {
	background-color:      transparent;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}

.woocommerce-checkout #payment ul.payment_methods {
	padding:       0;
	margin-bottom: 20px;
	border-bottom: none;
	li {
		border-bottom: 1px solid #EDEDED;
		padding:       10px 0;
	}
	li label {
		font-size:   13px;
		color:       @bold_color;
		font-weight: normal;
		margin:      0;
	}
	li input {
		vertical-align: middle;
	}
}

.woocommerce-checkout #payment div.payment_box {
	font-size:             12px;
	color:                 #a1a1a1;
	line-height:           2;
	background-color:      transparent;
	margin:                5px 0 0 0;
	padding:               0;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	&:after {
		display: none;
	}
}

.woocommerce-checkout #payment div.form-row {
	padding:       0;
	margin-bottom: 0;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	padding-top:    10px;
	padding-bottom: 10px;
	width:          100%;
	font-weight:    500;
}

.woocommerce-checkout .woocommerce-error {
	margin-left:  15px !important;
	margin-right: 15px !important;
}

/* --------------------------------------------
	ORDER RECEIVED
-------------------------------------------- */
.checkout-confirmation,
.woocommerce-account {
	h2, h3 {
		font-size:      21px;
		color:          #2a2a2a;
		text-transform: uppercase;
		margin-bottom:  30px;
	}
}

/* --------------------------------------------
	MY-ACCOUNT
-------------------------------------------- */
.woocommerce-account .site-content-page {
	margin-bottom: 80px;
}

.woocommerce-account form.login,
.woocommerce-account form.register {
	border:                1px solid #EDEDED;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;

	input.input-text {
		text-transform:   none;
		height:           44px;
		padding:          0 20px;
		border:           1px solid #EDEDED;
		font-size:        12px;
		color:            #888888;
		background-color: transparent;
	}
	.lost_password {
		label {
			font-weight:   normal;
			margin-bottom: 0;
			float:         right;
			input[type="checkbox"] {
				margin:         0;
				vertical-align: middle;
			}
		}
	}

}

/* --------------------------------------------
	ORDER TRACKING
-------------------------------------------- */

.track_order {
	text-align:    center;
	margin-bottom: 80px;
}

.track_order p:first-child {
	max-width:    800px;
	margin-left:  auto;
	margin-right: auto;
	display:      block;
}

.woocommerce .track_order .form-row-first,
.woocommerce .track_order .form-row-last {
	float:         none;
	margin:        auto;
	margin-bottom: 15px;
}

.woocommerce form.track_order .form-row input.input-text {
	text-align: center;
}

.woocommerce form.track_order .form-row input.button {
	padding-top:    6px;
	padding-bottom: 6px;
}

@media (max-width: 991px) {
	.product-listing.woocommerce {
		.product-item-wrap {
			padding-bottom: 60px;
		}
		.added_to_cart.wc-forward,
		.product_type_external, .product_type_grouped,
		.product_type_simple,
		.product_type_variable {
			-webkit-transform: translateY(0);
			-moz-transform:    translateY(0);
			-ms-transform:     translateY(0);
			-o-transform:      translateY(0);
			transform:         translateY(0);
			opacity:           1;
			visibility:        visible;
		}

		span.price {
			margin-bottom: 20px;
		}

		.product-item-wrap.active,
		.product-item-wrap:hover {
			.added_to_cart.wc-forward,
			.product_type_external,
			.product_type_grouped,
			.product_type_simple,
			.product_type_variable {
				-webkit-transform: translateY(0);
				-moz-transform:    translateY(0);
				-ms-transform:     translateY(0);
				-o-transform:      translateY(0);
				transform:         translateY(0);
				opacity:           1;
				visibility:        visible;
			}
			span.price {
				opacity:           1;
				visibility:        visible;
				-webkit-transform: translateY(0);
				-moz-transform:    translateY(0);
				-ms-transform:     translateY(0);
				-o-transform:      translateY(0);
				transform:         translateY(0);

			}
		}
	}

	.woocommerce .cart-collaterals .cart_totals_inner,
	.woocommerce-page .cart-collaterals .cart_totals_inner {
		width: 50%;
	}

	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		.input-text {
			width: 270px;
		}
	}

}

@media (min-width: 991px) {

	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		float:          left;
		padding-bottom: 0;
	}

	.woocommerce #content table.cart td.actions,
	.woocommerce table.cart td.actions,
	.woocommerce-page #content table.cart td.actions,
	.woocommerce-page table.cart td.actions {
		text-align: right;
	}

	.woocommerce #content table.cart td.actions .button,
	.woocommerce #content table.cart td.actions .input-text,
	.woocommerce #content table.cart td.actions input,
	.woocommerce table.cart td.actions .button,
	.woocommerce table.cart td.actions .input-text,
	.woocommerce table.cart td.actions input,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .input-text,
	.woocommerce-page #content table.cart td.actions input,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .input-text,
	.woocommerce-page table.cart td.actions input {
		width: auto;
	}

	.woocommerce-cart table.cart td.actions,
	.woocommerce-shipping-calculator {
		.checkout-button {
			margin-left: 15px;
			background:  @secondary_color;
			padding:     12px 44px;
			&:hover {
				background: @primary_color;
			}
			&:after {
				content: '';
			}
		}
	}

	.woocommerce-cart table.cart td.actions {
		.coupon .input-text {
			width:        270px;
			margin-right: 15px;

			&:focus {
				border: 1px solid @primary_color;
			}
		}
	}
}

.woocommerce-message {
	.button {
		&:after {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		padding-bottom: 20px;
		.input-text {
			width: 48%;
		}

	}

	.woocommerce-page table.cart td.actions input[name="update_cart"] {
		float: right;
	}

	.woocommerce-page table.cart td.actions .button.alt.checkout-button {
		float: left;
	}

	.woocommerce-cart table.cart td.actions {
		.button,
		input.button,
		button.button {
			text-align: center;
		}
	}

	.woocommerce table.shop_table.customer_details tbody td {
		text-align: left;
	}

}

@media (max-width: 767px) {
	.product-listing.woocommerce.columns-2 .product-item-wrap,
	.product-listing.woocommerce.columns-3 .product-item-wrap,
	.product-listing.woocommerce.columns-4 .product-item-wrap,
	.product-listing.woocommerce.columns-5 .product-item-wrap,
	.product-listing.woocommerce.columns-6 .product-item-wrap {
		width: 50% !important;
	}

	.woocommerce .site-content-single-product {
		.single-product-info .single-product-image-wrap {
			float:         none;
			width:         100% !important;
			margin-bottom: 30px;
		}
		.single-product-info .summary-product-wrap {
			float:      none;
			width:      100% !important;
			margin-top: 30px;
		}
	}
}

@media (max-width: 600px) {
	.woocommerce-cart table.cart img {
		display: none;
	}

	.woocommerce table.shop_table tbody td.product-name .product-name-wrap {
		height: auto;
	}

	.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
		margin: 0;
	}

	.woocommerce .cart-collaterals .cart_totals_inner,
	.woocommerce-page .cart-collaterals .cart_totals_inner,
	.woocommerce-shipping-calculator {
		float:   none;
		width:   100%;
		padding: 0;
	}

}

@media (max-width: 599px) {
	.woocommerce .cart-form {
		overflow-x: auto;
	}
}

@media (max-width: 480px) {

	.woocommerce .woocommerce-ordering {
		float: left;
	}

	.product-listing.woocommerce.columns-2 .product-item-wrap,
	.product-listing.woocommerce.columns-3 .product-item-wrap,
	.product-listing.woocommerce.columns-4 .product-item-wrap,
	.product-listing.woocommerce.columns-5 .product-item-wrap,
	.product-listing.woocommerce.columns-6 .product-item-wrap {
		width: 100% !important;
	}

	.woocommerce-cart table.cart td.actions {
		.button,
		input.button,
		button.button {
			padding-left:  15px;
			padding-right: 15px;
		}
	}

	.woocommerce form.checkout_coupon .form-row {
		float:         none;
		width:         100%;
		margin-bottom: 20px;

		input.button {
			margin-left: 0px;
		}
	}

	.woocommerce #reviews #comments ol.commentlist li img.avatar {
		display: none;
	}

}

@media (max-width: 320px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
		padding: 8px 15px;
	}

	.upsells.products .owl-theme .owl-controls, .related.products .owl-theme .owl-controls, .cross-sells .owl-theme .owl-controls {
		display: none !important;
	}

	.woocommerce-cart table.cart td.actions {
		.button,
		input.button,
		button.button {
			padding-left:   5px;
			padding-right:  5px;
			letter-spacing: 0;
		}
	}
}

/****CHECK OUT******/
.checkout.woocommerce-checkout {
	font-weight: 300;
	h3 {
		font-family:   inherit;
		font-size:     18px !important;
		margin-bottom: 20px !important;
		font-weight:   500;
		&:after {
			display:    block;
			height:     2px;
			content:    '';
			width:      40px;
			background: @primary_color;
			margin-top: 20px;
		}
	}

	#customer_details {
		p > label {
			font-weight: 300;
		}

	}

	#order_review_wrap {

		.woocommerce-checkout-review-order table.shop_table {
			thead tr th {
				font-size:        14px;
				letter-spacing:   0.02em;
				line-height:      20px;
				padding:          15px 20px;;
				text-transform:   uppercase;
				font-weight:      500;
				color:            #fff;
				//text-align:       center;
				border-color:     @secondary_color;
				background-color: @secondary_color;
				&.product-name {
					text-align: left;
				}
			}

			tbody {
				tr td {
					font-weight: 300;
				}
			}

			tfoot {
				tr {
					th {
						text-transform: uppercase;
					}
					th, td {
						background-color: #F9F9F9;
						font-weight:      500;
					}
				}

				tr.order-total {
					th, td {
						color: @primary_color;
					}
				}
			}
		}

		#payment {
			.payment_methods {
				label {
					font-weight: 500;
				}

			}

		}

	}

	@media (max-width: @screen-sm) {
		#order_review_wrap {
			margin-top: 50px;

		}

	}

}

/****ORDER RECEIVE****/

.woocommerce .checkout-confirmation {

	p:first-child {
		font-size:   20px;
		font-weight: 500;
	}

	ul.order_details {

		li {
			font-size: 12px;
			strong {
				margin-top:      10px;
				font-size:       1.6em;
				text-decoration: underline;

			}
		}

	}

	font-weight: 300;
	h2, h3 {
		font-family:   inherit;
		font-size:     18px !important;
		margin-bottom: 20px !important;
		font-weight:   500;
		&:after {
			display:    block;
			height:     2px;
			content:    '';
			width:      40px;
			background: @primary_color;
			margin-top: 20px;
		}
	}

	table.shop_table {
		thead tr th {
			font-size:        14px;
			letter-spacing:   0.02em;
			line-height:      20px;
			padding:          15px 20px;;
			text-transform:   uppercase;
			font-weight:      500;
			color:            #fff;
			//text-align:       center;
			border-color:     @secondary_color;
			background-color: @secondary_color;
			&.product-name {
				text-align: left;
			}
		}

		tbody {
			tr td {
				font-weight: 300;
			}
		}

		tfoot {
			tr {
				th {
					text-transform: uppercase;
				}
				th, td {
					background-color: #F9F9F9;
					font-weight:      500;
				}
			}

			tr.order-total {
				th, td {
					color: @primary_color;
				}
			}
		}

		&.customer_details {

		}
	}

	.addresses {

	}
}

/*---------------
* MY ACCOUNTS
-----------------*/

.woocommerce {
	font-weight: 300;
	.myaccount_user {
		font-size: 16px;
	}

	h2 {
		font-family:   inherit;
		margin-bottom: 20px !important;
		font-weight:   500;
		&:after {
			display:    block;
			height:     2px;
			content:    '';
			width:      40px;
			background: @primary_color;
			margin-top: 20px;
		}
	}

	h3 {
		font-size: 18px;
	}
	table.shop_table.my_account_orders {
		thead tr th {
			font-size:        14px;
			letter-spacing:   0.02em;
			line-height:      20px;
			padding:          15px 20px;;
			text-transform:   uppercase;
			font-weight:      500;
			color:            #fff;
			//text-align:       center;
			border-color:     @secondary_color;
			background-color: @secondary_color;
			&.product-name {
				text-align: left;
			}
		}

		tbody {
			tr td {
				font-weight: 300;
				font-size:   14px;
				padding:     5px 20px;
			}

			tr {
				td.order-number, td.order-total {
					font-weight: 500;
				}

				td.order-actions {
					text-align: right;
					a.button.view {
						.rounded();

					}
				}
			}
		}

		tfoot {
			tr {
				th {
					text-transform: uppercase;
				}
				th, td {
					background-color: #F9F9F9;
					font-weight:      500;
				}
			}

			tr.order-total {
				th, td {
					color: @primary_color;
				}
			}
		}

		&.customer_details {

		}
	}

}

/*------------------
* LOGIN FORM
--------------------*/
#customer_login {
	.form-row {
		label {
			font-weight: 300;
		}
		label[for="rememberme"] {
			margin-bottom: 15px;
			input {
				margin:         0;
				vertical-align: top;
				outline:        none;
			}
		}
	}
}


