<div class="os-contact-form row">
	<div class="col-md-6">
		[text* your-name id:your-name  placeholder "Name"]
	</div>
	<div class="col-md-6">
		[tel* your-email id:your-phone placeholder "Phone"]
	</div>
	<div class="col-md-12">
		[email* your-email id:your-email placeholder "Email"]
	</div>
	<div class="col-md-12">
		[textarea* your-message id:your-message 4x   placeholder "Message"]
	</div>
	<div class="col-md-12">
		[submit class:os-button class:size-md class:style3 id:submit "Send Message"]
	</div>
</div>