<ul class="widget-contact-info">
	<li>
		<i class="icon icon-location"></i>
		<p>1422 1st St. Santa Rosa,t CA 94559. United States</p>
	</li>
	<li>
		<i class="icon icon-phone-1"></i>
		<p>(123) 45678910</p>
	</li>
	<li>
		<i class="icon icon-paper-plane"></i>
		<a href="mailto:info@osthemes.com">info@osthemes.com</a>
	</li>
	<li>
		<i class="icon icon-mobile-1"></i>
		<a href="tel:(123)45678910">(123) 45678910</a>
	</li>
	<li>
		<i class="icon icon-clock-1"></i>
		<p>Mon - Sat: 9:00 - 18:00</p>
	</li>
</ul>