<ul class="top-bar-info">
    <li><i class="fa fa-globe"></i>Language: English</li>
    <li><i class="fa fa-phone"></i> (123) 45678910</li>
    <li><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</li>
</ul>
