/*
Theme Name:         Hemelios
Theme URI:          http://hemelios.osthemes.biz/
Description:        Hemelios theme framework is a WordPress starter theme based on HTML5 Boilerplate & Bootstrap. <a href="http://hemelios.osthemes.biz/">Visit site</a>
Version:            1.0
Author:             OSThemes
Author URI:         http://osthemes.biz/

License:            GNU General Public License v2 or later
License URI:        http://www.gnu.org/licenses/gpl-2.0.html

Tags: 				two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: 		hemelios
Domain Path: 		/languages/
*/
/*******************************************************************************
 *              bootstrap-rtl (version 3.3.2-rc1)
 *      Author: Morteza Ansarinia (http://github.com/morteza)
 *  Created on: March 05,2015
 *     Project: bootstrap-rtl
 *   Copyright: Unlicensed Public Domain
 *******************************************************************************/
html {
  direction: rtl;
}
body {
  direction: rtl;
}
.flip.text-left {
  text-align: right;
}
.flip.text-right {
  text-align: left;
}
.list-unstyled {
  padding-right: 0;
  padding-left: initial;
}
.list-inline {
  padding-right: 0;
  padding-left: initial;
  margin-right: -5px;
  margin-left: 0;
}
dd {
  margin-right: 0;
  margin-left: initial;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left;
  }
  .dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0;
  }
}
blockquote {
  border-right: 5px solid #eee;
  border-left: 0;
}
.blockquote-reverse,
blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eee;
  border-right: 0;
  text-align: left;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: right;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  left: 100%;
  right: auto;
}
.col-xs-pull-11 {
  left: 91.66666667%;
  right: auto;
}
.col-xs-pull-10 {
  left: 83.33333333%;
  right: auto;
}
.col-xs-pull-9 {
  left: 75%;
  right: auto;
}
.col-xs-pull-8 {
  left: 66.66666667%;
  right: auto;
}
.col-xs-pull-7 {
  left: 58.33333333%;
  right: auto;
}
.col-xs-pull-6 {
  left: 50%;
  right: auto;
}
.col-xs-pull-5 {
  left: 41.66666667%;
  right: auto;
}
.col-xs-pull-4 {
  left: 33.33333333%;
  right: auto;
}
.col-xs-pull-3 {
  left: 25%;
  right: auto;
}
.col-xs-pull-2 {
  left: 16.66666667%;
  right: auto;
}
.col-xs-pull-1 {
  left: 8.33333333%;
  right: auto;
}
.col-xs-pull-0 {
  left: auto;
  right: auto;
}
.col-xs-push-12 {
  right: 100%;
  left: 0;
}
.col-xs-push-11 {
  right: 91.66666667%;
  left: 0;
}
.col-xs-push-10 {
  right: 83.33333333%;
  left: 0;
}
.col-xs-push-9 {
  right: 75%;
  left: 0;
}
.col-xs-push-8 {
  right: 66.66666667%;
  left: 0;
}
.col-xs-push-7 {
  right: 58.33333333%;
  left: 0;
}
.col-xs-push-6 {
  right: 50%;
  left: 0;
}
.col-xs-push-5 {
  right: 41.66666667%;
  left: 0;
}
.col-xs-push-4 {
  right: 33.33333333%;
  left: 0;
}
.col-xs-push-3 {
  right: 25%;
  left: 0;
}
.col-xs-push-2 {
  right: 16.66666667%;
  left: 0;
}
.col-xs-push-1 {
  right: 8.33333333%;
  left: 0;
}
.col-xs-push-0 {
  right: auto;
  left: 0;
}
.col-xs-offset-12 {
  margin-right: 100%;
  margin-left: 0;
}
.col-xs-offset-11 {
  margin-right: 91.66666667%;
  margin-left: 0;
}
.col-xs-offset-10 {
  margin-right: 83.33333333%;
  margin-left: 0;
}
.col-xs-offset-9 {
  margin-right: 75%;
  margin-left: 0;
}
.col-xs-offset-8 {
  margin-right: 66.66666667%;
  margin-left: 0;
}
.col-xs-offset-7 {
  margin-right: 58.33333333%;
  margin-left: 0;
}
.col-xs-offset-6 {
  margin-right: 50%;
  margin-left: 0;
}
.col-xs-offset-5 {
  margin-right: 41.66666667%;
  margin-left: 0;
}
.col-xs-offset-4 {
  margin-right: 33.33333333%;
  margin-left: 0;
}
.col-xs-offset-3 {
  margin-right: 25%;
  margin-left: 0;
}
.col-xs-offset-2 {
  margin-right: 16.66666667%;
  margin-left: 0;
}
.col-xs-offset-1 {
  margin-right: 8.33333333%;
  margin-left: 0;
}
.col-xs-offset-0 {
  margin-right: 0;
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: right;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-sm-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-sm-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-sm-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-sm-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-sm-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-sm-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-sm-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-sm-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-sm-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-sm-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-sm-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-sm-pull-0 {
    left: auto;
    right: auto;
  }
  .col-sm-push-12 {
    right: 100%;
    left: 0;
  }
  .col-sm-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-sm-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-sm-push-9 {
    right: 75%;
    left: 0;
  }
  .col-sm-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-sm-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-sm-push-6 {
    right: 50%;
    left: 0;
  }
  .col-sm-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-sm-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-sm-push-3 {
    right: 25%;
    left: 0;
  }
  .col-sm-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-sm-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-sm-push-0 {
    right: auto;
    left: 0;
  }
  .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-sm-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-sm-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-sm-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-sm-offset-0 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-md-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-md-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-md-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-md-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-md-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-md-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-md-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-md-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-md-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-md-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-md-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-md-pull-0 {
    left: auto;
    right: auto;
  }
  .col-md-push-12 {
    right: 100%;
    left: 0;
  }
  .col-md-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-md-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-md-push-9 {
    right: 75%;
    left: 0;
  }
  .col-md-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-md-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-md-push-6 {
    right: 50%;
    left: 0;
  }
  .col-md-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-md-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-md-push-3 {
    right: 25%;
    left: 0;
  }
  .col-md-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-md-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-md-push-0 {
    right: auto;
    left: 0;
  }
  .col-md-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-md-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-md-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-md-offset-0 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: right;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    left: 100%;
    right: auto;
  }
  .col-lg-pull-11 {
    left: 91.66666667%;
    right: auto;
  }
  .col-lg-pull-10 {
    left: 83.33333333%;
    right: auto;
  }
  .col-lg-pull-9 {
    left: 75%;
    right: auto;
  }
  .col-lg-pull-8 {
    left: 66.66666667%;
    right: auto;
  }
  .col-lg-pull-7 {
    left: 58.33333333%;
    right: auto;
  }
  .col-lg-pull-6 {
    left: 50%;
    right: auto;
  }
  .col-lg-pull-5 {
    left: 41.66666667%;
    right: auto;
  }
  .col-lg-pull-4 {
    left: 33.33333333%;
    right: auto;
  }
  .col-lg-pull-3 {
    left: 25%;
    right: auto;
  }
  .col-lg-pull-2 {
    left: 16.66666667%;
    right: auto;
  }
  .col-lg-pull-1 {
    left: 8.33333333%;
    right: auto;
  }
  .col-lg-pull-0 {
    left: auto;
    right: auto;
  }
  .col-lg-push-12 {
    right: 100%;
    left: 0;
  }
  .col-lg-push-11 {
    right: 91.66666667%;
    left: 0;
  }
  .col-lg-push-10 {
    right: 83.33333333%;
    left: 0;
  }
  .col-lg-push-9 {
    right: 75%;
    left: 0;
  }
  .col-lg-push-8 {
    right: 66.66666667%;
    left: 0;
  }
  .col-lg-push-7 {
    right: 58.33333333%;
    left: 0;
  }
  .col-lg-push-6 {
    right: 50%;
    left: 0;
  }
  .col-lg-push-5 {
    right: 41.66666667%;
    left: 0;
  }
  .col-lg-push-4 {
    right: 33.33333333%;
    left: 0;
  }
  .col-lg-push-3 {
    right: 25%;
    left: 0;
  }
  .col-lg-push-2 {
    right: 16.66666667%;
    left: 0;
  }
  .col-lg-push-1 {
    right: 8.33333333%;
    left: 0;
  }
  .col-lg-push-0 {
    right: auto;
    left: 0;
  }
  .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }
  .col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }
  .col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }
  .col-lg-offset-0 {
    margin-right: 0;
    margin-left: 0;
  }
}
caption {
  text-align: right;
}
th {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
    border-left: initial;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
    border-right: initial;
  }
}
.radio label,
.checkbox label {
  padding-right: 20px;
  padding-left: initial;
}
.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
  margin-right: -20px;
  margin-left: auto;
}
.radio-inline,
.checkbox-inline {
  padding-right: 20px;
  padding-left: 0;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-right: 10px;
  margin-left: 0;
}
.has-feedback .form-control {
  padding-left: 42.5px;
  padding-right: 12px;
}
.form-control-feedback {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .form-inline label {
    padding-right: 0;
    padding-left: initial;
  }
  .form-inline .radio input[type=radio],
  .form-inline .checkbox input[type=checkbox] {
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  left: 15px;
  right: auto;
}
.caret {
  margin-right: 2px;
  margin-left: 0;
}
.dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  text-align: right;
}
.dropdown-menu.pull-right {
  left: 0;
  right: auto;
  float: right;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  float: right;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
  margin-left: 0;
}
.btn-toolbar {
  margin-right: -5px;
  margin-left: 0;
}
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: right;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-right: 5px;
  margin-left: 0;
}
.btn-group > .btn:first-child {
  margin-right: 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn-group {
  float: right;
}
.btn-group.btn-group-justified > .btn,
.btn-group.btn-group-justified > .btn-group {
  float: none;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group:last-child > .btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn .caret {
  margin-right: 0;
}
.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-right: 0;
}
.input-group .form-control {
  float: right;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:first-child {
  border-left: 0;
  border-right: 1px solid;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:last-child {
  border-left-width: 1px;
  border-left-style: solid;
  border-right: 0;
}
.input-group-btn > .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-left: -1px;
  margin-right: auto;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-right: -1px;
  margin-left: auto;
}
.nav {
  padding-right: 0;
  padding-left: initial;
}
.nav-tabs > li {
  float: right;
}
.nav-tabs > li > a {
  margin-left: auto;
  margin-right: -2px;
  border-radius: 4px 4px 0 0;
}
.nav-pills > li {
  float: right;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-right: 2px;
  margin-left: auto;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-right: 0;
  margin-left: auto;
}
.nav-justified > .dropdown .dropdown-menu {
  right: auto;
}
.nav-tabs-justified > li > a {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-radius: 4px 4px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: right;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-brand {
  float: right;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto;
  }
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 25px 5px 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
  .navbar-nav > li {
    float: right;
  }
}
@media (min-width: 768px) {
  .navbar-left.flip {
    float: right !important;
  }
  .navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-right.flip {
    float: left !important;
    margin-left: -15px;
    margin-right: auto;
  }
  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .navbar-text {
    float: right;
  }
  .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}
.pagination {
  padding-right: 0;
}
.pagination > li > a,
.pagination > li > span {
  float: right;
  margin-right: -1px;
  margin-left: 0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: -1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pager {
  padding-right: 0;
  padding-left: initial;
}
.pager .next > a,
.pager .next > span {
  float: left;
}
.pager .previous > a,
.pager .previous > span {
  float: right;
}
.nav-pills > li > a > .badge {
  margin-left: 0;
  margin-right: 3px;
}
.list-group-item > .badge {
  float: left;
}
.list-group-item > .badge + .badge {
  margin-left: 5px;
  margin-right: auto;
}
.alert-dismissable,
.alert-dismissible {
  padding-left: 35px;
  padding-right: 15px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  right: auto;
  left: -21px;
}
.progress-bar {
  float: right;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-left.flip {
  margin-right: 0;
  margin-left: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media > .pull-right.flip {
  margin-left: 0;
  margin-right: 10px;
}
.media-right,
.media > .pull-right {
  padding-right: 10px;
  padding-left: initial;
}
.media-left,
.media > .pull-left {
  padding-left: 10px;
  padding-right: initial;
}
.media-list {
  padding-right: 0;
  padding-left: initial;
  list-style: none;
}
.list-group {
  padding-right: 0;
  padding-left: initial;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-right: 0;
  border-left: none;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: none;
  border-left: 0;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  right: 0;
  left: auto;
}
.close {
  float: left;
}
.modal-footer {
  text-align: left;
}
.modal-footer .btn + .btn {
  margin-left: auto;
  margin-right: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}
.modal-footer .btn-block + .btn-block {
  margin-right: 0;
  margin-left: auto;
}
.popover {
  left: auto;
  text-align: right;
}
.popover.top > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto;
}
.popover.top > .arrow:after {
  margin-right: -10px;
  margin-left: auto;
}
.popover.bottom > .arrow {
  right: 50%;
  left: auto;
  margin-right: -11px;
  margin-left: auto;
}
.popover.bottom > .arrow:after {
  margin-right: -10px;
  margin-left: auto;
}
.carousel-control {
  right: 0;
  bottom: 0;
}
.carousel-control.left {
  right: auto;
  left: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  right: auto;
  margin-right: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  left: auto;
  margin-left: -10px;
}
.carousel-indicators {
  right: 50%;
  left: 0;
  margin-right: -30%;
  margin-left: 0;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: 0;
    margin-right: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-left: 0;
    margin-right: -15px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
}
.pull-right.flip {
  float: left !important;
}
.pull-left.flip {
  float: right !important;
}
/* --------------------------------------------
	GENERAL STYLES
-------------------------------------------- */
body {
  direction: rtl;
  unicode-bidi: embed;
}
.owl-carousel {
  direction: ltr;
}
.owl-carousel .carousel-item {
  float: right;
}
#panel-style-selector h3.panel-selector-title:before {
  margin-right: 0;
  margin-left: 5px;
}
/* --------------------------------------------
	TOP DRAWER AREA
-------------------------------------------- */
#top-drawer-area .hemelios-col-3,
#top-drawer-area .hemelios-col-4,
#top-drawer-area .hemelios-col-6,
#top-drawer-area .hemelios-col-8,
#top-drawer-area .hemelios-col-12 {
  float: right;
}
.top-drawer-toggle {
  right: auto;
  left: 0;
  border-right: 35px solid transparent;
  border-left: none;
}
.top-drawer-toggle:after {
  right: -14px;
  left: auto;
}
.top-bar ul.top-bar-info li + li {
  margin-left: 0;
  margin-right: 25px;
}
.vc_tta.vc_general.vc_tta-style-tab_style1 .vc_tta-tabs-list .vc_tta-tab.vc_active a:before,
.vc_tta.vc_general.vc_tta-style-tab_style2 .vc_tta-tabs-list .vc_tta-tab.vc_active a:before,
.vc_tta.vc_general.vc_tta-style-tab_style3 .vc_tta-tabs-list .vc_tta-tab.vc_active a:before {
  right: 0;
}
.vc_tta.vc_general.vc_tta-style-tab_style1 .vc_tta-tabs-list .vc_tta-tab:first-child a,
.vc_tta.vc_general.vc_tta-style-tab_style2 .vc_tta-tabs-list .vc_tta-tab:first-child a,
.vc_tta.vc_general.vc_tta-style-tab_style3 .vc_tta-tabs-list .vc_tta-tab:first-child a {
  border-left: 0;
}
.vc_tta-tabs-list {
  text-align: right;
}
.vc_tta.vc_general.vc_tta-style-tab_style1 .vc_tta-tabs-list .vc_tta-tab:last-of-type a,
.vc_tta.vc_general.vc_tta-style-tab_style2 .vc_tta-tabs-list .vc_tta-tab:last-of-type a,
.vc_tta.vc_general.vc_tta-style-tab_style3 .vc_tta-tabs-list .vc_tta-tab:last-of-type a {
  border-left-width: 1px;
  border-style: solid;
}
.hemelios-ourteam.style1 .ourteam-item .ourteam-info {
  text-align: right;
}
/* --------------------------------------------
		HEADER
	-------------------------------------------- */
.top-bar .top-bar-right {
  text-align: left;
}
.top-bar .top-bar-left {
  text-align: right;
}
.top-bar ul.top-bar-info i.fa {
  padding-right: 0;
  padding-left: 12px;
}
header.main-header .header-left {
  text-align: right;
}
header.main-header .header-right {
  text-align: left;
}
header.header-4 .header-right {
  padding-left: 20px;
  padding-right: 0;
}
header.header-3.header-boxed .header-3-menu-wrapper {
  padding-left: 0;
  padding-right: 30px;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper {
  left: 0;
  right: auto;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper p.buttons .button + .button {
  margin-right: 4%;
  margin-left: 0;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper p.total {
  text-align: right;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper p.total > span.amount {
  float: left;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li .cart-left {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li .cart-right {
  text-align: right;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li .cart-right > a {
  padding-left: 0;
  padding-right: 0;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li .cart-right > a.mini-cart-remove {
  left: 0;
  right: auto;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li .cart-right > span.quantity {
  text-align: left;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper li .cart-right > span.quantity .amount {
  float: right;
}
.shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper p.buttons .button > i.fa {
  margin-left: 5px;
  margin-right: 0;
}
@media screen and (min-width: 992px) {
  header.main-header .header-customize {
    margin-left: 0;
    margin-right: 30px;
  }
  header.main-header .header-customize {
    margin-left: 0;
    margin-right: 75px;
  }
  .x-nav-menu i.x-menu-icon.x-icon-left {
    padding-right: 0;
    padding-left: 10px;
  }
  .x-nav-menu > li.x-menu-item + li {
    margin-left: 0;
    margin-right: 35px;
  }
  header.main-header .header-customize-item + .header-customize-item {
    margin-left: 0;
    margin-right: 30px;
  }
  header.header-4 .header-customize-item + .header-customize-item {
    margin-left: 0;
    margin-right: 13px;
  }
  header.main-header .get-a-quote-button > i.fa + span {
    margin-left: 0;
    margin-right: 5px;
  }
  .x-nav-menu > li.x-menu-item > a > b.x-caret {
    padding-left: 0;
    padding-right: 7px;
  }
  .x-nav-menu > li.x-menu-item > a > b.x-caret:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .x-nav-menu ul.x-sub-menu b.x-caret {
    right: auto;
    left: 0;
  }
  .x-nav-menu li > ul.x-sub-menu-multi-column li.x-col {
    float: right;
    text-align: right;
  }
  header.main-header .menu-wrapper .x-nav-menu ul.x-sub-menu-multi-column > li.x-menu-item > a.x-menu-a-text:before {
    left: auto;
    right: 0;
  }
  header.main-header .menu-wrapper .x-nav-menu li > ul.x-sub-menu-standard > li > a.x-menu-a-text:hover {
    padding-left: 0;
    padding-right: 10px;
  }
  header.main-header .menu-wrapper .x-nav-menu li > ul.x-sub-menu-standard > li > a.x-menu-a-text {
    text-align: right;
  }
  header.header-3 .main-menu-custom-text {
    float: left;
  }
  header.header-3 .main-menu-custom-text > i.fa {
    margin-right: 0;
    margin-left: 5px;
  }
  header.header-3 .header-customize-item + .header-customize-item {
    margin-left: 0;
    margin-right: 10px;
  }
}
@media screen and (min-width: 992px) {
  header.main-header .header-customize > div {
    margin: 0 4px 0 0 !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  header.header-1 .header-customize-item + .header-customize-item,
  header.header-1 .header-customize,
  header.header-1 .x-nav-menu > li.x-menu-item + li {
    margin-right: 20px;
    margin-left: 0;
  }
  header.header-4 .x-nav-menu > li.x-menu-item + li {
    margin-left: 0;
    margin-right: 20px;
  }
  header.header-4 .header-customize {
    margin-left: 0;
    margin-right: 35px;
  }
}
/* --------------------------------------------
	WIDGET
-------------------------------------------- */
.sidebar .widget_archive > ul,
.sidebar .widget_archive > ol,
.sidebar .widget_categories > ul,
.sidebar .widget_categories > ol,
.sidebar .widget_nav_menu > div > ul,
.sidebar .widget_nav_menu > div > ol,
.sidebar .widget_meta > ul,
.sidebar .widget_meta > ol,
.sidebar .widget_pages > ul,
.sidebar .widget_pages > ol,
.sidebar .widget_recent_comments > ul,
.sidebar .widget_recent_comments > ol,
.sidebar .widget_recent_entries > ul,
.sidebar .widget_recent_entries > ol,
.sidebar .widget_rss > ul,
.sidebar .widget_rss > ol {
  padding-right: 0;
}
.sidebar .widget_archive li:before,
.sidebar .widget_categories li:before,
.sidebar .widget_nav_menu > div li:before,
.sidebar .widget_meta li:before,
.sidebar .widget_pages li:before,
.sidebar .widget_recent_comments li:before,
.sidebar .widget_recent_entries li:before,
.sidebar .widget_rss li:before {
  margin-left: 10px;
  margin-right: 0;
}
.sidebar .widget_archive li:after,
.sidebar .widget_categories li:after,
.sidebar .widget_nav_menu > div li:after,
.sidebar .widget_meta li:after,
.sidebar .widget_pages li:after,
.sidebar .widget_recent_comments li:after,
.sidebar .widget_recent_entries li:after,
.sidebar .widget_rss li:after {
  content: "\200E‎";
}
.sidebar .widget-posts-wrap .widget-posts-thumbnail {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.sidebar .widget_product_categories ul {
  padding-right: 0;
}
.sidebar .widget_product_categories ul ul li a {
  margin-right: 20px;
  margin-left: 0;
}
.sidebar .tagcloud a {
  margin-right: 0;
  margin-left: 10px;
}
.sidebar ul.product_list_widget li img {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
.sidebar .mail-chimp-wrapper .mail-chimp-button > button {
  left: 5px;
  right: auto;
}
.sidebar .widget_archive li:before,
.sidebar .widget_categories li:before,
.sidebar .widget_product_categories li:before,
.sidebar .widget_nav_menu > div li:before,
.sidebar .widget_meta li:before,
.sidebar .widget_pages li:before,
.sidebar .widget_recent_comments li:before,
.sidebar .widget_recent_entries li:before,
.sidebar .widget_rss li:before {
  content: '\f0d9';
}
.sidebar .widget_archive ul ul,
.sidebar .widget_categories ul ul,
.sidebar .widget_product_categories ul ul,
.sidebar .widget_nav_menu ul ul,
.sidebar .widget_meta ul ul,
.sidebar .widget_pages ul ul,
.sidebar .widget_recent_comments ul ul,
.sidebar .widget_recent_entries ul ul,
.sidebar .widget_rss ul ul {
  padding-left: 0;
  padding-right: 18px;
}
.sidebar .widget_archive li:before,
.sidebar .widget_categories li:before,
.sidebar .widget_product_categories li:before,
.sidebar .widget_nav_menu > div li:before,
.sidebar .widget_meta li:before,
.sidebar .widget_pages li:before,
.sidebar .widget_recent_comments li:before,
.sidebar .widget_recent_entries li:before,
.sidebar .widget_rss li:before {
  margin-right: 0;
  margin-left: 5px;
}
.sidebar .widget_product_categories ul ul li a {
  margin-left: 20px;
  margin-right: 0;
}
/* --------------------------------------------
	FOOTER
-------------------------------------------- */
footer.main-footer-wrapper .sidebar-bottom-left {
  text-align: right;
}
footer.main-footer-wrapper .sidebar-bottom-right {
  text-align: left;
}
footer.main-footer-wrapper .bottom-bar-wrapper .sidebar .widget_nav_menu > div > ul.menu > li + li {
  margin-left: 0;
  margin-right: 20px;
}
/* --------------------------------------------
	WOOCOMMERCE
-------------------------------------------- */
.woocommerce table.shop_table.cart td {
  text-align: right;
}
.woocommerce table.shop_table.cart tbody td.product-name {
  border-right: 1px solid #dddddd;
  border-left: none;
}
.woocommerce table.shop_table tbody td.product-remove {
  border-left: 1px solid #dddddd;
  border-right: none;
}
.woocommerce table.shop_table.cart td {
  text-align: left;
}
.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
  float: right;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
  padding: 1em 3.5em 1em 2em !important;
}
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:before {
  right: 1.5em;
  left: auto;
}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tfoot td,
.woocommerce table.shop_table.order_details tfoot td,
.woocommerce table.shop_table.customer_details tfoot td,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table .product-total,
.woocommerce table.shop_table.order_details .product-total,
.woocommerce table.shop_table.customer_details .product-total {
  text-align: left;
}
.woocommerce table.shop_table.woocommerce-checkout-review-order-table th,
.woocommerce table.shop_table.order_details th,
.woocommerce table.shop_table.customer_details th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table td,
.woocommerce table.shop_table.order_details td,
.woocommerce table.shop_table.customer_details td {
  text-align: right;
}
.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt {
  float: right;
}
.woocommerce td.product-name dl.variation dt {
  clear: right;
}
.woocommerce table.shop_table tbody td.product-name .product-name-wrap .product-name-inner a {
  text-align: right;
}
.woocommerce table.shop_table {
  text-align: right;
}
.woocommerce-checkout #payment ul.payment_methods li {
  text-align: right;
}
.woocommerce-checkout #payment ul.payment_methods li input {
  margin: 0 0 0 1em;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
  float: left;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: right;
}
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  text-align: right;
}
.woocommerce-account form.login .lost_password label,
.woocommerce-account form.register .lost_password label {
  float: left;
}
/* --------------------------------------------
	ELEMENT
-------------------------------------------- */
.portfolio .portfolio-entry-header .os-title {
  float: right;
}
.portfolio .portfolio-entry-header .portfolio-tabs {
  float: left;
}
.portfolio .portfolio-tabs ul li {
  float: right;
}
.portfolio .portfolio-tabs ul li:last-child {
  margin-right: 25px;
  margin-left: 0;
}
.portfolio .portfolio-tabs ul li.last {
  margin-left: 0;
  margin-right: 25px;
}
.portfolio-wrapper figure .fig-title .ico-view-gallery {
  left: 0;
  right: auto;
}
.portfolio-wrapper figure .fig-title .ico-view-detail {
  left: 65px;
  right: auto;
}
.portfolio-wrapper figure .fig-title {
  text-align: right;
}
.portfolio.slider .owl-controls.container .owl-buttons {
  left: 0;
  right: auto;
}
.hemelios-post .hemelios-post-slider {
  text-align: right;
}
.hemelios-post .hemelios-post-content i {
  margin-left: 16px;
  margin-right: 0;
}
.margin-right-7 {
  margin-left: 7px;
  margin-right: auto;
}
.hemelios-list-style ul li:after {
  font-family: 'FontAwesome';
  font-size: 14px;
  content: "\f0a8";
  margin: 0 0 0 10px;
}
.hemelios-list-style ul li:before {
  display: none;
}
.hemelios-list-style ul {
  padding-right: 0;
}
.hemelios-accordion.style1 .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header a i {
  padding-right: 0;
  padding-left: 13px;
}
.hemelios-tab.left .wpb_tabs .wpb_tabs_nav li {
  float: right;
}
.hemelios-icon-box.style3 .ibox-icon {
  float: right;
}
.hemelios-icon-box.style3 h3 {
  padding-left: 0;
  padding-right: 21px;
}
.hemelios-icon-box.style5 .ibox-icon {
  float: right;
}
.hemelios-icon-box.style5 h3 {
  padding-right: 100px;
  padding-left: 0;
}
.hemelios-icon-box.style5 p {
  padding-right: 100px;
  padding-left: 0;
}
.blog-inner .entry-post-format-icon,
.hemelios-post .hemelios-post-image .entry-post-format-icon {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.blog-inner .entry-post-meta-wrap ul.entry-meta li,
.hemelios-post .hemelios-post-image .entry-post-meta-wrap ul.entry-meta li {
  margin-right: 0;
  margin-left: 25px;
  display: inline-block;
}
.blog-inner .entry-post-meta-wrap ul.entry-meta li i,
.hemelios-post .hemelios-post-image .entry-post-meta-wrap ul.entry-meta li i {
  margin-right: 0;
  margin-left: 4px;
}
.blog-paging-wrapper .pagination > li + li > a,
.woocommerce-pagination .pagination > li + li > a,
.blog-paging-wrapper .pagination > li + li > span,
.woocommerce-pagination .pagination > li + li > span {
  margin-left: 0;
  margin-right: 10px;
}
.hemelios-post .hemelios-post-content p:before {
  width: 10%;
  margin-left: 90%;
}
ul.pagination > li > a > i.fa.fa-angle-double-right:before {
  content: '\f100';
}
ul.pagination > li > a > i.fa.fa-angle-double-left:before {
  content: '\f101';
}
.search-form button[type="submit"] {
  right: auto;
  left: 0;
}
.search-form input[type="text"] {
  padding-left: 48px;
  padding-right: 20px;
}
.page-title-wrap .block-center,
ul.breadcrumbs {
  text-align: center;
}
.hemelios-feature.style1 .hemelios-feature-content h4 i {
  margin-right: 0;
  margin-left: 9px;
}
.dialog.dialog--open button[data-dialog-close] {
  left: 0;
  right: auto;
}
.product-flash-wrap {
  left: 0;
  right: 0;
}
.social-share-wrap label {
  margin-right: 0;
  margin-left: 100px;
}
.social-share-wrap label:after {
  margin-right: 15px;
  margin-left: 0;
  top: -10px;
  bottom: auto;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.social-share-wrap ul.social-share li {
  margin-left: 5px;
  margin-right: 0;
}
.blog-inner.blog-single .post-navigation-wrap .nav-previous {
  left: auto;
  right: 0;
}
.blog-inner.blog-single .post-navigation-wrap .nav-previous i.fa.fa-angle-double-left:before {
  content: '\f101';
}
.blog-inner.blog-single .post-navigation-wrap .nav-next {
  right: auto;
  left: 0;
}
.blog-inner.blog-single .post-navigation-wrap .nav-next i.fa.fa-angle-double-right:before {
  content: '\f100';
}
.entry-content blockquote,
.comment-text blockquote {
  border-right: 10px solid #0cb4ce;
  border-left: none;
}
.vc_progress_bar.wpb_content_element .vc_general.vc_single_bar .vc_label .vc_label_units {
  float: left;
}
.vc_tta.vc_general.vc_tta-style-tab_style4 .vc_tta-tabs-list .vc_tta-tab + .vc_tta-tab {
  padding-left: 0px;
  padding-right: 60px;
}
.wpcf7 {
  text-align: right;
}
.wpcf7 input,
.wpcf7 textarea {
  width: 100%;
}
.widget-contact-info > li > i {
  padding-left: 10px;
  padding-right: 0px;
}
/* --------------------------------------------
	HEADER
-------------------------------------------- */
@media screen and (max-width: 991px) {
  .x-nav-menu > li.menu-fly-search button {
    right: auto;
    left: 19px;
  }
  .x-nav-menu li.x-menu-item {
    text-align: right;
  }
  .x-nav-menu li.x-menu-item > a.x-menu-a-text > b.x-caret {
    left: 0;
    right: auto;
  }
  .x-nav-menu li.x-menu-item.x-sub-menu-open > a.x-menu-a-text > b.x-caret:before {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  header.main-header .header-mobile-wrapper .header-customize-item + .header-customize-item {
    margin-right: 10px;
    margin-left: 0;
  }
  header.header-mobile-1 .header-mobile-wrapper .header-customize {
    left: 15px;
    right: auto;
  }
  header.header-mobile-1 .header-mobile-wrapper .toggle-icon-wrapper {
    left: auto;
    right: 15px;
  }
  header.main-header .header-mobile-2 .toggle-icon-wrapper {
    right: 0;
    left: auto;
  }
  header.header-mobile-2 .header-mobile-wrapper .header-customize {
    right: auto;
    left: 0;
  }
  header.header-mobile-4 .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper {
    right: -55px;
    left: auto;
  }
  header.header-mobile-4 .search-button-wrapper + .shopping-cart-wrapper .widget_shopping_cart_content .cart_list_wrapper {
    right: -110px;
    left: auto;
  }
  footer.main-footer-wrapper .sidebar-bottom-left,
  footer.main-footer-wrapper .sidebar-bottom-right {
    text-align: right;
  }
}

/*# sourceMappingURL=rtl.css.map */
