/* META BOX TABS */
#post-body #normal-sortables {
    min-height: 0;
}
.rwmb-input {
	position: relative;
}
.rwmb-field {
	margin: 0;
	padding: 10px 0;
	border-bottom: solid 1px #f0f0f0;
}
.rwmb-meta-box {
    padding: 10px 10px;
}
.rwmb-meta-box .rwmb-checkbox-wrapper .description {
    display: block;
}
.rwmb-color-wrapper .wp-picker-holder {
    z-index: 2;
}
.rwmb-images li {
	width: auto;
	height: auto;
}
.rwmb-images li img {
	width: auto;
	height: auto;
	max-height: 150px;
}
.rwmb-label {
	font-weight: 600;
}
.hemelios-meta-tabs-wrap {
    height: auto;
    overflow: hidden;
}

.hemelios-meta-tabs-wrap.all-hidden {
    display: none;
}

#hemelios-tabbed-meta-boxes {
    position: relative;
    z-index: 1;
    float: right;
    width: 80%;
    border-left: 1px solid #e3e3e3;
}

#hemelios-tabbed-meta-boxes > div > .hndle, #hemelios-tabbed-meta-boxes > div > .handlediv {
    display: none !important;
}

#hemelios-tabbed-meta-boxes .inside {
    display: block !important;
}

#hemelios-tabbed-meta-boxes > div {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
	background-color: #FCFCFC;
}

#hemelios-meta-box-tabs {
    margin: 0;
    width: 20%;
    position: relative;
    z-index: 2;
    float: left;
    margin-right: -1px;
}

#hemelios-meta-box-tabs li {
    margin-bottom: -1px;
}

#hemelios-meta-box-tabs li.user-hidden {
    display: none !important;
}

#hemelios-meta-box-tabs li > a {
    display: block;
    background: #f7f7f7;
    padding: 12px;
    line-height: 150%;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    text-decoration: none;
}

#hemelios-meta-box-tabs li > a:hover {
    color: #222;
    background: #fff;
}

#hemelios-meta-box-tabs li > a.active {
	border-right-color: #FCFCFC;
	background: #FCFCFC;
    box-shadow: none;
}

.closed #hemelios-meta-box-tabs, .closed #hemelios-tabbed-meta-boxes {
    display: none;
}

/* CheckBox
----------------------------------------*/
.rwmb-checkbox {
	opacity: 0;
	position: absolute;
}
.rwmb-checkbox + label {
	position: relative;
	background-color: #D7D7D7;
	width: 58px;
	height: 24px;
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 11px;
	font-weight: 600;

	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.rwmb-checkbox + label:before {
	content: "\f00c";
	font-family: FontAwesome;
	text-align: center;
	background-color: #fff;
	width: 18px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 3px;


	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.rwmb-checkbox + label:after {
	content: attr(data-off);
	position: absolute;
	top: 0px;
	right: 0;
	width: 37px;
	text-align: center;
	line-height: 24px;

	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.rwmb-checkbox:checked + label {
	background-color: #4A89DC;
}
.rwmb-checkbox:checked + label:before {
	-webkit-transform: translateX(34px);
	-moz-transform: translateX(34px);
	-ms-transform: translateX(34px);
	-o-transform: translateX(34px);
	transform: translateX(34px);
	color: #4A89DC;
}
.rwmb-checkbox:checked + label:after {
	content: attr(data-on);
	-webkit-transform: translateX(-21px);
	-moz-transform: translateX(-21px);
	-ms-transform: translateX(-21px);
	-o-transform: translateX(-21px);
	transform: translateX(-21px);
}
