.check-level-shortcode{
	position: relative;
	min-height: 200px;
	.check-level-notice{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		.check-level-notice-inner{
			display: table;
			width: 100%;
			height: 100%;
			.check-level-notice-content{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				h4{
					font-size: 30px;
					color: @primary_color;

				}
				p{
					font-size: 18px;
				}
			}
		}
	}
}
.check-level-wrapper{
	input[type="text"],
	input[type="email"],
	input[type="number"],
	select,
	textarea{
		width: 100%;
		padding: 0 20px;
		color: #444444;
		height: 40px;
		line-height: 40px;
		background-color: #ffffff;
		border: 1px solid #dddddd;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	textarea{
		height:100px;
		line-height: 2.0;
		padding-top: 5px;
	}
	.input-wrapper{
		margin-bottom: 20px;
	}
	p.error{
		color: #f00;
	}
}