.os-gallery {
	&:after {
		display: block;
		content: '';
		clear:   both;
	}
	.hemelios-gallary-thumb {
		float:   left;
		padding: 15px;
		.gallery-inner-thumb {
			position: relative;
			border: 7px solid @primary_color;
			border-radius: 15px;
			overflow: hidden;
			img{
				border-radius: 7px;
			}
		}
		.gallery-hover {
			position:           absolute;
			top:                0;
			left:               0;
			right:              0;
			bottom:             0;
			opacity:            0;
			-webkit-transform:  scale(0);
			-moz-transform:     scale(0);
			-ms-transform:      scale(0);
			-o-transform:       scale(0);
			transform:          scale(0);
			-webkit-transition: all .3s linear;
			-moz-transition:    all .3s linear;
			-ms-transition:     all .3s linear;
			-o-transition:      all .3s linear;
			transition:         all .3s linear;
			a {
				position: absolute;
				top:      0;
				left:     0;
				right:    0;
				bottom:   0;
				i {
					font-size:   38px;
					color:       #fff;
					width:       48px;
					height:      48px;
					top:         50%;
					position:    absolute;
					left:        50%;
					margin-top:  -24px;
					margin-left: -24px;
					line-height: 48px;
					text-align:  center;
					.rounded(100%);
					border:      2px solid #fff;
					&:before {
						line-height: 44px;
						display:     block;
						content: '+';
					}
				}
			}
		}
		&:hover {
			img{
				opacity: .6;
			}
			.gallery-hover {
				opacity:           1;
				-webkit-transform: scale(1);
				-moz-transform:    scale(1);
				-ms-transform:     scale(1);
				-o-transform:      scale(1);
				transform:         scale(1);
			}
		}
	}
	&.style1 {
		margin: 0 -15px;
	}
	&.style2 {
		.hemelios-gallary-thumb {
			padding: 0;
		}
	}
	&.col-2 {
		.hemelios-gallary-thumb {
			width: 50%;
		}
	}
	&.col-3 {
		.hemelios-gallary-thumb {
			width: 33.3333%;
		}
	}
	&.col-4 {
		.hemelios-gallary-thumb {
			width: 25%;
		}
	}
	&.col-5 {
		.hemelios-gallary-thumb {
			width: 20%;
		}
	}
}

@media screen and ( max-width: 991px ) {
	.os-gallery {
		&.col-2 {
			.hemelios-gallary-thumb {
				width: 50%;
			}
		}
		&.col-3 {
			.hemelios-gallary-thumb {
				width: 33.33%;
			}
		}
		&.col-4 {
			.hemelios-gallary-thumb {
				width: 33.33%;
			}
		}
		&.col-5 {
			.hemelios-gallary-thumb {
				width: 33.33%;
			}
		}
	}
}

@media screen and ( max-width: 767px ) {
	.os-gallery {
		&.col-2 {
			.hemelios-gallary-thumb {
				width: 50%;
			}
		}
		&.col-3 {
			.hemelios-gallary-thumb {
				width: 50%;
			}
		}
		&.col-4 {
			.hemelios-gallary-thumb {
				width: 50%;
			}
		}
		&.col-5 {
			.hemelios-gallary-thumb {
				width: 50%;
			}
		}
	}
}

@media screen and ( max-width: 479px ) {
	.os-gallery {
		&.col-2 {
			.hemelios-gallary-thumb {
				width: 100%;
			}
		}
		&.col-3 {
			.hemelios-gallary-thumb {
				width: 100%;
			}
		}
		&.col-4 {
			.hemelios-gallary-thumb {
				width: 100%;
			}
		}
		&.col-5 {
			.hemelios-gallary-thumb {
				width: 100%;
			}
		}
	}
}

//Gallery Tabs

.hemelios-galerry-tabs{
	.gallery-tabs-wrapper{
		.tab-wrapper{
			text-align: right;
		}
		ul{
			list-style: none;
			padding: 0;
			margin-bottom: 30px;
			position: relative;
			li{
				display: inline-block;
				*display: inline;
				zoom: 1;
				font-size: 0;
				margin-left: 25px;
				margin-right: 25px;
				padding-top: 8px;
				padding-bottom: 8px;
				line-height: 2;
				position: relative;
				&:first-child{
					margin-left: 0;
				}
				a{
					font-size: 13px;
					color: #444;
					text-decoration: none;
					text-transform: none;
					letter-spacing: 0;
					font-weight: 500;
					&.active,
					&:hover{
						color: @primary_color;
					}
				}
			}
		}
	}
	.os-gallery {
		.hemelios-gallary-thumb{
			margin: 0;
			padding: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing:    border-box;
			box-sizing:         border-box;
		}
	}
	&.style1{
		.os-gallery {
			.hemelios-gallary-thumb {
				.gallery-item-wrapper{
					padding: 15px;
					position: relative;
				}
			}
		}
	}
}
.os-gallerys-container{
	.os-gallery-item{
		float: left;
		.hemelios-gallary-thumb{
			position: relative;
			overflow: hidden;
			border: 7px solid @primary_color;
			border-radius: 15px;
		}
		.gallery-hover {
			position:           absolute;
			top:                0;
			left:               0;
			right:              0;
			bottom:             0;
			opacity:            0;
			-webkit-transform:  scale(0);
			-moz-transform:     scale(0);
			-ms-transform:      scale(0);
			-o-transform:       scale(0);
			transform:          scale(0);
			-webkit-transition: all .3s linear;
			-moz-transition:    all .3s linear;
			-ms-transition:     all .3s linear;
			-o-transition:      all .3s linear;
			transition:         all .3s linear;
			a {
				position: absolute;
				top:      0;
				left:     0;
				right:    0;
				bottom:   0;
				i {
					font-size:   38px;
					color:       #fff;
					width:       48px;
					height:      48px;
					top:         50%;
					position:    absolute;
					left:        50%;
					margin-top:  -24px;
					margin-left: -24px;
					line-height: 48px;
					text-align:  center;

					&:before {
						line-height: 44px;
						display:     block;

					}
				}
			}
			.entry-header{
				position: absolute;
				top: 21%;
				text-align: center;
				left: 0;
				right: 0;
				color: #fff;
				h3{
					color: #fff;
					font-size: 23px;
					text-transform: uppercase;
				}
			}
		}
		&:hover {
			img{
				opacity: .6;
			}
			.gallery-hover {
				opacity:           1;
				-webkit-transform: scale(1);
				-moz-transform:    scale(1);
				-ms-transform:     scale(1);
				-o-transform:      scale(1);
				transform:         scale(1);
				.rgba-bg-color(#000,.6);
			}
		}
		&.type-gallery{
			.gallery-hover {
				a{
					i{
						.rounded(100%);
						border:      2px solid #fff;
						&:before{
							content: '+';
						}
					}
				}
			}
		}
	}
	&.col-3 {
		.os-gallery-item {
			width: 33.3333%;
		}
	}
	&.col-4 {
		.os-gallery-item {
			width: 25%;
		}
	}
	&.col-5 {
		.os-gallery-item {
			width: 20%;
		}
	}
	&.style1{
		margin: 0 -15px;
		.os-gallery-item {
			padding: 15px;
		}
	}

}