.os-ibox {
	position      : relative;
	z-index       : 3;
	margin-bottom: 25px;
	//Icon in  header
	@icon-size : 95px;
	padding: 20px 0;
	>a{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
	.__icon {
		display  : inline-block;
		position : relative;
		width    : @icon-size;
		height   : @icon-size;
		margin   : 0 10px;

		img{
			max-width : 100%;
		}

		i {
			display     : block;
			width       : 100%;
			height      : 100%;
			margin      : 0;
			text-align  : center;
			line-height : inherit;

			&:before {
				line-height : inherit !important;
			}

		}

		&.simple-icon {
			font-size   : 32px;
			line-height : @icon-size;
			color       : @primary_color;
		}

		&.circle-icon {
			background-color : @primary_color;
			color            : #FFFFFF;
			line-height      : @icon-size;
			font-size        : 20px;
			border-radius    : 50%;
			a{
				color: inherit;
			}
		}
	}
	.__title{
		font-size: 18px;
		margin: 0;
	}
	&.istyle-left {
		.__header {
			margin-bottom : 20px;

			.__icon {
				vertical-align : middle;
				display        : inline-block;
			}

			.__title {
				font-weight   : 600;
				font-size : 18px;
				display        : inline-block;
				vertical-align : middle;
				margin-bottom  : 0;
				max-width      : ~"calc(100% - 70px)";

				a{
					color: inherit;
					&:hover{
						color: @link_color_hover;
					}
				}
			}
		}
	}

	&.istyle-top {
		text-align : center;
		.rounded(15px);
		.__header {
			.__title {
				font-size : 18px;
				font-weight : 400;
			}
			.__icon {
				margin-bottom : 25px;
			}
		}
	}

	&.istyle-inherit {
		.__header {
			.__title {
				color: inherit;
				a{
					color: inherit;
				}
			}
		}

		.__content {
			color: inherit;
		}

		.__symbol-bg {
			color       : rgba(0, 0, 0, 0.05);
		}


	}


	&.istyle-dark {
		.__header {
			.__title {
				color: #444444;
				a{
					color: #444444;
				}
			}
		}

		.__content {
			color: #444444;
		}

		.__symbol-bg {
			color       : rgba(0, 0, 0, 0.05);
		}


	}


	&.istyle-light {
		.__header {
			.__title {
				color: #ffffff;
				a{
					color: #ffffff;
				}
			}
		}
		.__content {
			color: #ffffff;
		}

		.__symbol-bg {
			color       : rgba(255, 255, 255, 0.05);
		}
	}

	// Content
	.__content {
		height: 100%;
		width: 100%;
		opacity: 0;
		text-align: center;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		-moz-transition: -moz-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: #2c3f52;
		.rounded(15px);
		.__entry_content{
			display: table;
			width: 100%;
			height: 100%;
			.__inner-content{
				display: table-cell;
				vertical-align: middle;
				p{
					line-height: 1.5;
				}
			}
		}
	}
	&:hover {
		.__content {
			opacity:           1;
			-webkit-transform: translate(10px, 10px);
			-moz-transform:    translate(10px, 10px);
			-ms-transform:     translate(10px, 10px);
			transform:         translate(10px, 10px);
			z-index: 99;
		}
	}
	// Symbol Background

	.__symbol-bg {
		position    : absolute;
		top         : 0;
		left        : -0.04em;
		z-index     : -1;
		line-height : 1;
		font-size   : 200px;
		color       : rgba(0, 0, 0, 0.05);
		font-weight : 600;

	}
}

