.os-testimonial-icon{
	i{
		display : block;
		margin : 0 auto 30px;
		width : 52px;
		height : 52px;
		line-height : 52px;
		border-radius: 50%;
		background-color : #444;
		color: #fff;
		text-align : center;
		font-size : 24px;
		&:before{
			line-height : inherit;
		}
	}
}
.os-testimonials {
	&.style1{
		.os-title {
			margin-bottom : 35px;
		}
		.os-testimonial-item {
			padding : 0 15px;
		}
		.entry-content {
			padding    : 25px;
			margin-top : 5px;
			position   : relative;
			background : #F9F9F9;
			p {
				margin      : 0;
				font-family : @primary_font;
				font-size   : 14px;
				color       : @text_color;
				line-height : 2.2;
			}
			span.arrow {
				width        : 0;
				height       : 0;
				border-style : solid;
				border-width : 20px 10px 0 1px;
				border-color : #F9F9F9 transparent transparent transparent;
				line-height  : 0;
				content      : '';
				right        : 20px;
				top          : 100%;
				position     : absolute;
			}
		}
		.entry-footer {
			margin-top : 30px;
			.author-info {
				float        : right;
				text-align   : right;
				margin-right : 20px;
				padding-top  : 13px;
				h6 {
					font-size      : 14px;
					margin         : 0;
					color          : @text_color;
					font-weight    : 600;
					text-transform : uppercase;

				}
				span {
					color       : #666666;
					font-size   : 13px;
					font-family : @primary_font;
					font-weight : 400;
				}
			}
			figure {
				float  : right;
				.rounded(100%);
				border : 1px solid #E1E1DF;
				width  : 64px;
				height : 64px;
				img {
					.rounded(100%);
					border : 4px solid #FFFFFF;
				}

			}
		}
	}

	&.style2 {
		text-align : center;
		
		.os-title:after{
			margin-left : auto;
			margin-right : auto;
		}

		.entry-footer{
			h6,span{
				display : inline-block;
				font-weight : 600;
				font-size : 14px;
			}

			h6:after{
				content: " - ";
			}
		}
		figure{
			display : none;
		}
	}
}