/************************************************************************************
VC Customize
*************************************************************************************/
.overlay-bg-vc-wapper
{
	position: relative;
}
.overlay-bg-vc {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.vertical-parallax {
	position: static;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position-x: 50%;
	overflow: hidden;
}

.horizontal-parallax {
	position: static;
	background-repeat: no-repeat;
	background-color: transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: 0;
}
.overlay-wapper
{
	overflow: hidden;
}
.overlay-wapper .overlay
{
	position: relative;
	width: 100%;
}
.overlay-wapper .overlay:before {
	content:  " ";
	display:  inline-block;
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0;
	padding-top: 1000%;
}
.video-background-wapper
{
	overflow: hidden;
	position: relative;
}
.video-background-wapper video
{
	left: 0;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	position: absolute;
}
.fullwidth
{
	overflow: hidden;
}
.fullwidth:before,.fullwidth:after
{
	content: " ";
	display: table;
}
.fullwidth:after{
	clear: both;
}
.vc_row-fluid:before, .vc_row-fluid:after {
	content: "";
	display: table;
}
.vc_row-fluid:after {
	clear: both;
}
.content-middle {
	display: table;
	width: 100%;
}
.content-middle-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3, .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6, .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9, .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12 {
	min-height: 0;
}
#wrapper-content .wpb_row, #wrapper-content .wpb_content_element, #wrapper-content ul.wpb_thumbnails-fluid > li, #wrapper-content .last_toggle_el_margin, #wrapper-content .wpb_button {
	margin-bottom: 0;
}
.vc_separator .vc_sep_holder {
	padding-bottom: 1px;
}
.no-border {
	border: 0 !important;
}
.no-padding-vc div[class*=vc_col-]{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-margin-vc .vc_row{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.height-auto {
	height: auto !important;
}
.bg-content-box {
	background-clip: content-box;
}
.bg-column {
	background-clip: content-box;
	background-size: contain;
	background-position: center;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-15 {
	margin-top: 15px;
}
@media screen and (max-width: 991px) {
	.margin-bottom-20,.margin-bottom-25.margin-bottom-30, .margin-bottom-35 {
		margin-bottom: 15px !important;
	}

	.margin-bottom-40 {
		margin-bottom: 20px !important;
	}

	.margin-bottom-45 {
		margin-bottom: 25px !important;
	}

	.margin-bottom-50 {
		margin-bottom: 30px !important;
	}

	.margin-bottom-55 {
		margin-bottom: 35px !important;
	}

	.margin-bottom-60 {
		margin-bottom: 40px !important;
	}

	.margin-bottom-65 {
		margin-bottom: 45px !important;
	}

	.margin-bottom-70 {
		margin-bottom: 50px !important;
	}

	.margin-bottom-75 {
		margin-bottom: 55px !important;
	}

	.margin-bottom-80 {
		margin-bottom: 60px !important;
	}

	.margin-bottom-85 {
		margin-bottom: 65px !important;
	}

	.margin-bottom-90 {
		margin-bottom: 70px !important;
	}

	.margin-bottom-95 {
		margin-bottom: 75px !important;
	}

	.margin-bottom-100 {
		margin-bottom: 80px !important;
	}

	.margin-top-20,.margin-top-25, .margin-top-30, .margin-top-35 {
		margin-top: 15px !important;
	}

	.margin-top-40 {
		margin-top: 20px !important;
	}

	.margin-top-45 {
		margin-top: 25px !important;
	}

	.margin-top-50 {
		margin-top: 30px !important;
	}

	.margin-top-55 {
		margin-top: 35px !important;
	}

	.margin-top-60 {
		margin-top: 40px !important;
	}

	.margin-top-65 {
		margin-top: 45px !important;
	}

	.margin-top-70 {
		margin-top: 50px !important;
	}

	.margin-top-75 {
		margin-top: 55px !important;
	}

	.margin-top-80 {
		margin-top: 60px !important;
	}

	.margin-top-85 {
		margin-top: 65px !important;
	}

	.margin-top-90 {
		margin-top: 70px !important;
	}

	.margin-top-95 {
		margin-top: 75px !important;
	}

	.margin-top-100 {
		margin-top: 80px !important;
	}
}

@media screen and (min-width: 992px) {
	.margin-bottom-20 {
		margin-bottom: 20px !important;
	}
	.margin-bottom-25 {
		margin-bottom: 25px !important;
	}
	.margin-bottom-30 {
		margin-bottom: 30px !important;
	}
	.margin-bottom-35 {
		margin-bottom: 35px !important;
	}

	.margin-bottom-40 {
		margin-bottom: 40px !important;
	}

	.margin-bottom-45 {
		margin-bottom: 45px !important;
	}

	.margin-bottom-50 {
		margin-bottom: 50px !important;
	}

	.margin-bottom-55 {
		margin-bottom: 55px !important;
	}

	.margin-bottom-60 {
		margin-bottom: 60px !important;
	}

	.margin-bottom-65 {
		margin-bottom: 65px !important;
	}

	.margin-bottom-70 {
		margin-bottom: 70px !important;
	}

	.margin-bottom-75 {
		margin-bottom: 75px !important;
	}

	.margin-bottom-80 {
		margin-bottom: 80px !important;
	}

	.margin-bottom-85 {
		margin-bottom: 85px !important;
	}

	.margin-bottom-90 {
		margin-bottom: 90px !important;
	}

	.margin-bottom-95 {
		margin-bottom: 95px !important;
	}

	.margin-bottom-100 {
		margin-bottom: 100px !important;
	}

	.margin-top-20 {
		margin-top: 20px !important;
	}

	.margin-top-25 {
		margin-top: 25px !important;
	}

	.margin-top-30 {
		margin-top: 30px !important;
	}

	.margin-top-35 {
		margin-top: 35px !important;
	}

	.margin-top-40 {
		margin-top: 40px !important;
	}

	.margin-top-45 {
		margin-top: 45px !important;
	}

	.margin-top-50 {
		margin-top: 50px !important;
	}

	.margin-top-55 {
		margin-top: 55px !important;
	}

	.margin-top-60 {
		margin-top: 60px !important;
	}

	.margin-top-65 {
		margin-top: 65px !important;
	}

	.margin-top-70 {
		margin-top: 70px !important;
	}

	.margin-top-75 {
		margin-top: 75px !important;
	}

	.margin-top-80 {
		margin-top: 80px !important;
	}

	.margin-top-85 {
		margin-top: 85px !important;
	}

	.margin-top-90 {
		margin-top: 90px !important;
	}

	.margin-top-95 {
		margin-top: 95px !important;
	}

	.margin-top-100 {
		margin-top: 100px !important;
	}
}
/************************************************************************************
Animations
*************************************************************************************/
@-webkit-keyframes hemelios_bounce {
	0%, 20%, 53%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity:1;
	}

	40%, 43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}

@keyframes hemelios_bounce {
	0%, 20%, 53%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity:1;
	}

	40%, 43% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -30px, 0);
		transform: translate3d(0, -30px, 0);
	}

	70% {
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}

	90% {
		-webkit-transform: translate3d(0,-4px,0);
		transform: translate3d(0,-4px,0);
	}
}
.wpb_start_animation.wpb_bounce {
	-webkit-animation-name: hemelios_bounce;
	animation-name: hemelios_bounce;
	-webkit-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	transform-origin: center bottom;
}
@-webkit-keyframes hemelios_flash {
	0%, 50%, 100% {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}

@keyframes hemelios_flash {
	0%, 50%, 100% {
		opacity: 1;
	}

	25%, 75% {
		opacity: 0;
	}
}
.wpb_start_animation.wpb_flash {
	-webkit-animation-name: hemelios_flash;
	animation-name: hemelios_flash;
}
@-webkit-keyframes hemelios_pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
		opacity:1;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}
}

@keyframes hemelios_pulse {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05);
		opacity:1;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}
}

.wpb_start_animation.wpb_pulse {
	-webkit-animation-name: hemelios_pulse;
	animation-name: hemelios_pulse;
}
@-webkit-keyframes hemelios_rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
		opacity:1;
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
		opacity:1;
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
		opacity:1;
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
		opacity:1;
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
		opacity:1;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}
}

@keyframes hemelios_rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}

	30% {
		-webkit-transform: scale3d(1.25, 0.75, 1);
		transform: scale3d(1.25, 0.75, 1);
		opacity:1;
	}

	40% {
		-webkit-transform: scale3d(0.75, 1.25, 1);
		transform: scale3d(0.75, 1.25, 1);
		opacity:1;
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1);
		opacity:1;
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1);
		opacity:1;
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1);
		opacity:1;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}
}
.wpb_start_animation.wpb_rubberBand {
	-webkit-animation-name: hemelios_rubberBand;
	animation-name: hemelios_rubberBand;
}
@-webkit-keyframes hemelios_shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity:1;
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}

@keyframes hemelios_shake {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity:1;
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}
}
.wpb_start_animation.wpb_shake {
	-webkit-animation-name: hemelios_shake;
	animation-name: hemelios_shake;
}
@-webkit-keyframes hemelios_swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
		opacity:1;
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
		opacity:1;
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
		opacity:1;
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
		opacity:1;
	}
}

@keyframes hemelios_swing {
	20% {
		-webkit-transform: rotate3d(0, 0, 1, 15deg);
		transform: rotate3d(0, 0, 1, 15deg);
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, -10deg);
		transform: rotate3d(0, 0, 1, -10deg);
		opacity:1;
	}

	60% {
		-webkit-transform: rotate3d(0, 0, 1, 5deg);
		transform: rotate3d(0, 0, 1, 5deg);
		opacity:1;
	}

	80% {
		-webkit-transform: rotate3d(0, 0, 1, -5deg);
		transform: rotate3d(0, 0, 1, -5deg);
		opacity:1;
	}

	100% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
		opacity:1;
	}
}
.wpb_start_animation.wpb_swing {
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: hemelios_swing;
	animation-name: hemelios_swing;
}
@-webkit-keyframes hemelios_tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);

	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		opacity:1;
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		opacity:1;
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		opacity:1;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}
}

@keyframes hemelios_tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		opacity:1;
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		opacity:1;
	}

	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		opacity:1;
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity:1;
	}
}
.wpb_start_animation.wpb_tada {
	-webkit-animation-name: hemelios_tada;
	animation-name: hemelios_tada;
}

@-webkit-keyframes hemelios_wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		opacity:1;
	}

	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		opacity:1;
	}

	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		opacity:1;
	}

	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		opacity:1;
	}

	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		opacity:1;
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}

@keyframes hemelios_wobble {
	0% {
		-webkit-transform: none;
		transform: none;
	}

	15% {
		-webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}

	30% {
		-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}

	45% {
		-webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}

	60% {
		-webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}

	75% {
		-webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}
.wpb_start_animation.wpb_wobble {
	-webkit-animation-name: hemelios_wobble;
	animation-name: hemelios_wobble;
}

@-webkit-keyframes hemelios_bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes hemelios_bounceIn {

	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.wpb_start_animation.wpb_bounceIn {
	-webkit-animation-name: hemelios_bounceIn;
	animation-name: hemelios_bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}
@-webkit-keyframes hemelios_bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}

@keyframes hemelios_bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}
.wpb_start_animation.wpb_bounceInDown {
	-webkit-animation-name: hemelios_bounceInDown;
	animation-name: hemelios_bounceInDown;
}
@-webkit-keyframes hemelios_bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}

@keyframes hemelios_bounceInLeft {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(-3000px, 0, 0);
		transform: translate3d(-3000px, 0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(-10px, 0, 0);
		transform: translate3d(-10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}
.wpb_start_animation.wpb_bounceInLeft {
	-webkit-animation-name: hemelios_bounceInLeft;
	animation-name: hemelios_bounceInLeft;
}
@-webkit-keyframes hemelios_bounceInRight {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}

@keyframes hemelios_bounceInRight {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(3000px, 0, 0);
		transform: translate3d(3000px, 0, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(-25px, 0, 0);
		transform: translate3d(-25px, 0, 0);
	}

	75% {
		-webkit-transform: translate3d(10px, 0, 0);
		transform: translate3d(10px, 0, 0);
	}

	90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
		opacity:1;
	}
}
.wpb_start_animation.wpb_bounceInRight {
	-webkit-animation-name: hemelios_bounceInRight;
	animation-name: hemelios_bounceInRight;
}
@-webkit-keyframes hemelios_bounceInUp {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity:1;
	}
}

@keyframes hemelios_bounceInUp {
	0%, 60%, 75%, 90%, 100% {
		-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity:1;
	}
}
.wpb_start_animation.wpb_bounceInUp {
	-webkit-animation-name: hemelios_bounceInUp;
	animation-name: hemelios_bounceInUp;
}


@-webkit-keyframes hemelios_fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes hemelios_fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.wpb_start_animation.wpb_fadeIn {
	-webkit-animation-name: hemelios_fadeIn;
	animation-name: hemelios_fadeIn;
}
@-webkit-keyframes hemelios_fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes hemelios_fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.wpb_start_animation.wpb_fadeInDown {
	-webkit-animation-name: hemelios_fadeInDown;
	animation-name: hemelios_fadeInDown;
}
@-webkit-keyframes hemelios_fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes hemelios_fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.wpb_start_animation.wpb_fadeInLeft {
	-webkit-animation-name: hemelios_fadeInLeft;
	animation-name: hemelios_fadeInLeft;
}
@-webkit-keyframes hemelios_fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes hemelios_fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.wpb_start_animation.wpb_fadeInRight {
	-webkit-animation-name: hemelios_fadeInRight;
	animation-name: hemelios_fadeInRight;
}

@-webkit-keyframes hemelios_fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes hemelios_fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
.wpb_start_animation.wpb_fadeInUp {
	-webkit-animation-name: hemelios_fadeInUp;
	animation-name: hemelios_fadeInUp;
}

@-webkit-keyframes hemelios_flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		opacity:1;
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes hemelios_flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		opacity:1;
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

.wpb_start_animation.wpb_flipInX {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: hemelios_flipInX;
	animation-name: hemelios_flipInX;
}
@-webkit-keyframes hemelios_flipInY {
	0% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}

@keyframes hemelios_flipInY {
	0% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}

	80% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		opacity: 1;

	}

	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
		opacity: 1;

	}
}
.wpb_start_animation.wpb_flipInY {
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: hemelios_flipInY;
	animation-name: hemelios_flipInY;
}

@-webkit-keyframes hemelios_zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes hemelios_zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
.wpb_start_animation.wpb_zoomIn {
	-webkit-animation-name: hemelios_zoomIn;
	animation-name: hemelios_zoomIn;
}


.wpb_start_animation.wpb_fadeIn.hemelios-css-animation,
.wpb_start_animation.wpb_fadeInDown.hemelios-css-animation,
.wpb_start_animation.wpb_fadeInUp.hemelios-css-animation,
.wpb_start_animation.wpb_fadeInLeft.hemelios-css-animation,
.wpb_start_animation.wpb_fadeInRight.hemelios-css-animation,
.wpb_start_animation.wpb_bounceIn.hemelios-css-animation,
.wpb_start_animation.wpb_bounceInDown.hemelios-css-animation,
.wpb_start_animation.wpb_bounceInUp.hemelios-css-animation,
.wpb_start_animation.wpb_bounceInLeft.hemelios-css-animation,
.wpb_start_animation.wpb_bounceInRight.hemelios-css-animation,
.wpb_start_animation.wpb_zoomIn.hemelios-css-animation,
.wpb_start_animation.wpb_flipInX.hemelios-css-animation,
.wpb_start_animation.wpb_flipInY.hemelios-css-animation,
.wpb_start_animation.wpb_bounce.hemelios-css-animation,
.wpb_start_animation.wpb_flash.hemelios-css-animation,
.wpb_start_animation.wpb_shake.hemelios-css-animation,
.wpb_start_animation.wpb_pulse.hemelios-css-animation,
.wpb_start_animation.wpb_swing.hemelios-css-animation,
.wpb_start_animation.wpb_rubberBand.hemelios-css-animation,
.wpb_start_animation.wpb_wobble.hemelios-css-animation,
.wpb_start_animation.wpb_tada.hemelios-css-animation
{
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.hemelios-css-animation {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	filter: alpha(opacity=100);
}