.starfall_com_wrapper input[type="text"],
.starfall_com_wrapper input[type="password"]{
	width: 100%;
}
.starfall_com_wrapper .entry-header {
	text-align: center;
	padding: 20px 0;
}
.starfall_com_wrapper .entry-header h3{
	font-size: 30px;
}