.os-download {
	margin: 25px 15px 25px;
	padding: 20px;
	border-radius: 20px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 25% 25% 25% 25%/60% 60% 40% 40%;
	position: relative;
	z-index: 1;
	color: #fff;
	min-height: 250px;
}
.os-download:before{
	content: '';
	width: 72%;
	height: calc(100% + 50px);
	border-radius: 100%;
	background: inherit;
	position: absolute;
	top: -25px;
	left: 15%;
	z-index: -1;
}
.os-download:after{
	content: '';
	background: inherit;
	position: absolute;
	z-index: -1;
	width: 33%;
	max-width: 170px;
	top: -21px;
	right: 10%;
	left: auto;
	height: 100%;
	border-radius: 1000px;
}
.os-download .download-title{
	text-align: center;
}
.os-download .download-title .download-title-icon{
	color: inherit;
	font-size: 20px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.os-download .download-title .download-title-text {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-right: 20px;
	color:    inherit;
}
.os-download .download-title .download-title-text h4{
	color: inherit;
	font-size: 24px;
}
.download-content .download-button{
	margin-top: 15px;
}
.download-content .download-button .m-button {
	background: transparent;
	color: inherit;
	padding: 10px 15px;
	text-transform: none;
	border-radius: 5px;
	font-size: 16px;
	border-color: #fff;
	border-width: 2px;
	font-weight: 600;
}
.download-content .download-button .m-button:hover {
	background: #00A0D1;
	border-color: #00A0D1 !important;
}