.banner {
	letter-spacing: 0.05em;
	overflow:       hidden;
	position:       relative;
}

.banner .overlay-banner,
.banner .overlay-banner a,
.banner .overlay-banner a .content-middle:before,
.banner.style4 .overlay-banner a .content-middle .content-middle-inner:before {
	height: 100%;
	width:  100%;
}

.banner .overflow-hidden .banner-bg-img,
.banner .overlay-banner a .content-middle:before,
.banner.style2 .content-middle .content-middle-inner:before,
.banner.style3 .banner-bg-img:before,
.banner.style4 .content-middle .content-middle-inner:before {
	-webkit-transition: 0.5s;
	-moz-transition:    0.5s;
	-ms-transition:     0.5s;
	-o-transition:      0.5s;
	transition:         0.5s;
}

.banner .overflow-hidden .banner-bg-img {
	background-repeat: no-repeat;
	background-size:   cover;
}

.banner .overlay-banner {
	position:         absolute;
	background-color: transparent;
	top:              0;
}

.banner .overlay-banner a {
	display: block;
}

.banner .overlay-banner a .content-middle {
	height: 100%;
}

.banner .overlay-banner a .content-middle:before {
	content:  '';
	display:  block;
	position: absolute;
	top:      0;
}

.banner .overlay-banner a .content-middle .content-middle-inner .content-banner {
	width:    85%;
	margin:   auto;
	position: relative;
}

.banner .overlay-banner a .content-middle .content-middle-inner .content-banner span,
.banner .overlay-banner a .content-middle .content-middle-inner .content-banner p {
	font-size: 14px;
}

.banner .overlay-banner a .content-middle .content-middle-inner .content-banner h4 {
	font-size: 25px;
}

.banner .overlay-banner a .content-middle .content-middle-inner .content-banner p,
.banner .overlay-banner a .content-middle .content-middle-inner .content-banner .sub-title,
.banner .overlay-banner a .content-middle .content-middle-inner .content-banner h4 {
	line-height: 2.2;
	color: inherit;
}

.banner .overlay-banner a .content-middle .content-middle-inner .content-banner .sub-title {
	font-style: italic;
}

.banner .overlay-banner a .content-middle .content-middle-inner .content-banner .m-button {
	font-size: 13px;
	display:   inline-block;
}

.banner .overlay-banner a:hover {
	color: inherit;
}

.banner .overlay-banner a:active,
.banner .overlay-banner a:focus {
	color: inherit;
}

.banner.style1 .content-middle:before {
	background-color: #fff;
	opacity:          .8;
}

.banner.style1 .content-middle h4 {
	margin-bottom: 0;
}

.banner.style1 .content-middle p {
	margin-bottom: 35px;
}

.banner.style1:hover .content-middle:before {
	background-color: #222;
	opacity:          .9;
}

.banner.style1:hover .content-middle .content-middle-inner {
	color: #fff;
}

.banner.style2 .content-middle {
	text-align: center;
	color:      #fff;
}

.banner.style2 .content-middle:before {
	background-color: #000;
	opacity:          .4;
}

.banner.style2 .content-middle .content-middle-inner:before {
	content:           "";
	display:           block;
	position:          absolute;
	top:               10px;
	left:              10px;
	right:             10px;
	bottom:            10px;
	height:            auto;
	width:             auto;
	background-color:  #fff;
	opacity:           0;
	-webkit-transform: scale(0);
	-moz-transform:    scale(0);
	-o-transform:      scale(0);
	-ms-transform:     scale(0);
	transform:         scale(0);
}

.banner.style2 .content-middle h4 {
	margin-bottom: 0;
}

.banner.style2 .content-middle .sub-title {
	letter-spacing: 0.05em;
}

.banner.style2 .content-middle i {
	font-size: 32px;
}

.banner.style2:hover .overlay-banner a .content-middle:before {
	opacity: 0;
}

.banner.style2:hover .overlay-banner a .content-middle .content-middle-inner {
	color: #000;
}

.banner.style2:hover .overlay-banner a .content-middle .content-middle-inner:before {
	opacity:           0.7;
	-webkit-transform: scale(1);
	-moz-transform:    scale(1);
	-o-transform:      scale(1);
	-ms-transform:     scale(1);
	transform:         scale(1);
}

.banner.style3 .banner-bg-img:before {
	content:               '';
	height:                0;
	width:                 0;
	position:              absolute;
	bottom:                -35px;
	right:                 -35px;
	display:               block;
	border:                4px solid rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 50%;
	-moz-border-radius:    50%;
	border-radius:         50%;
}

.banner.style3 .banner-bg-img i {
	position:    absolute;
	bottom:      8px;
	right:       8px;
	font-size:   150px;
	line-height: 1;
	width:       150px;
}

.banner.style3 .banner-bg-img.banner-bg-light {
	background-color: #ddd;
}

.banner.style3 .banner-bg-img.banner-bg-gray {
	background-color: #444;
}

.banner.style3 .banner-bg-img.banner-bg-dark {
	background-color: #222;
}

.banner.style3 .banner-bg-img.icon-light {
	color: #fff;
}

.banner.style3 .banner-bg-img.icon-light i {
	opacity: .2;
}

.banner.style3 .banner-bg-img.icon-dark {
	color: #444;
}

.banner.style3 .banner-bg-img.icon-dark i {
	opacity: .05;
}

.banner.style3 .overlay-banner.banner-bg-dark,
.banner.style3 .overlay-banner.banner-bg-gray,
.banner.style3 .overlay-banner.p-color-bg,
.banner.style3 .overlay-banner.s-color-bg {
	color: #fff;
}

.banner.style3 .overlay-banner span {
	display:       block;
	margin-bottom: 5px;
}

.banner.style3 .overlay-banner h4 {
	margin-bottom: 0;
}

.banner.style3:hover .banner-bg-img:before {
	height:           230px;
	width:            230px;
	background-color: rgba(255, 255, 255, 0.3);
}

.banner.style4 .overlay-banner {
	overflow: hidden;
}

.banner.style4 .overlay-banner a .content-middle {
	text-align: center;
	color:      #fff;
}

.banner.style4 .overlay-banner a .content-middle:before {
	background-color: #000;
	opacity:          .5;
}

.banner.style4 .overlay-banner a .content-middle .content-middle-inner:before {
	position:          absolute;
	top:               0;
	left:              0;
	background:        rgba(255, 255, 255, 0.5);
	content:           '';
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -150%, 0);
	transform:         scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -150%, 0);
}

.banner.style4 .overlay-banner a .content-middle .content-middle-inner h4 {
	letter-spacing: .05em;
	font-size:      24px;
	margin-bottom:  0;
}

.banner.style4 .overlay-banner a .content-middle .content-middle-inner h2 {
	letter-spacing: .05em;
	font-weight:    normal;
	margin-bottom:  5px;
}

.banner.style4 .overlay-banner a .content-middle .content-middle-inner .sub-title {
	font-size: 17px;
	letter-spacing: .05em;
	line-height: 1.5;
}

.banner.style4:hover .overlay-banner a .content-middle .content-middle-inner:before {
	-webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 150%, 0);
	transform:         scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 150%, 0);
}

.banner.style4:hover .overflow-hidden .banner-bg-img {
	-webkit-transform: scale(1.1);
	-moz-transform:    scale(1.1);
	-o-transform:      scale(1.1);
	-ms-transform:     scale(1.1);
	transform:         scale(1.1);
}
.banner.style5 .banner-wrapper{
	margin: 25px 15px 25px;
	padding: 20px;
	border-radius: 20px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 25% 25% 25% 25%/60% 60% 40% 40%;
	position: relative;
	z-index: 1;
	color: #fff;
	min-height: 250px;
}
.banner.style5 .banner-wrapper:before {
	content: '';
	width: 72%;
	height: calc(100% + 50px);
	border-radius: 100%;
	background: inherit;
	position: absolute;
	top: -25px;
	left: 15%;
	z-index: -1;
}
.banner.style5 .banner-wrapper:after {
	content: '';
	background: inherit;
	position: absolute;
	z-index: -1;
	width: 33%;
	max-width: 170px;
	top: -21px;
	right: 10%;
	left: auto;
	height: 100%;
	border-radius: 1000px;
}
.banner.style5 .banner-wrapper .banner-title{
	text-align: center;
}
.banner.style5 .banner-wrapper .banner-title .banner-title-icon{
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-right: 15px;
	color: inherit;
	font-size: 20px;
}
.banner.style5 .banner-wrapper .banner-title .banner-title-text{
	display: inline-block;
	*display: inline;
	zoom: 1;
	color: inherit;
}
.banner.style5 .banner-wrapper .banner-title .banner-title-text h4{
	color: inherit;
	font-size: 24px;
}
.banner.style5 .banner-wrapper .banner-content .banner-button{
	margin-top: 15px;
}
.banner.style5 .banner-wrapper .banner-content .m-button{
	background: transparent;
	color: inherit;
	padding: 10px 15px;
	text-transform: none;
	border-radius: 5px;
	font-size: 16px;
	border-color: #fff;
	border-width: 2px;
	font-weight: 600
}
.banner.style5 .banner-wrapper .banner-content .m-button:hover{
	background: #00A0D1;
	border-color: #00A0D1 !important;
}







@media (max-width: 400px) {
	.banner .overlay-banner a .content-middle .content-middle-inner .content-banner {
		width: 85%;
	}

	.banner .overlay-banner a .content-middle .content-middle-inner .content-banner p {
		margin-bottom: 20px;
	}

	.banner .overlay-banner a .content-middle .content-middle-inner .content-banner h2 {
		line-height: 1.2;
	}
}

@media (max-width: 480px) {
	.banner.style4 .overlay-banner a .content-middle .content-middle-inner .content-banner h4 {
		line-height: 1.4;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.banner .overlay-banner a .content-middle .content-middle-inner .content-banner {
		width: 85%;
	}

	.banner .overlay-banner a .content-middle .content-middle-inner .content-banner p {
		line-height:   1.8;
		margin-bottom: 20px;
	}

	.banner.style3 .overlay-banner a .content-middle .content-middle-inner .content-banner,
	.banner.style1 .overlay-banner a .content-middle .content-middle-inner .content-banner {
		padding: 0 5px;
		width:   90%;
	}

	.banner.style3 .overlay-banner a .content-middle .content-middle-inner .content-banner h4,
	.banner.style1 .overlay-banner a .content-middle .content-middle-inner .content-banner h4 {
		line-height: 1.8;
	}

	.banner.style3 .overlay-banner a .content-middle .content-middle-inner .content-banner p,
	.banner.style1 .overlay-banner a .content-middle .content-middle-inner .content-banner p {
		line-height:   1.8;
		margin-bottom: 15px;
	}
}
